<ion-header>
  <ion-toolbar color="plureMain">
    <ion-buttons slot="start">
      <ion-menu-button class="ion-toolbar-button"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let module of modules">
    <ion-row class="home-title" >
      <ion-col>
        {{module.description}}
      </ion-col>
    </ion-row>
    <ion-row class="home-center">
      <ion-col class="home-border">
        <ion-button (click)="onSalesForm(module)" color="plureMain">New</ion-button>
      </ion-col>
      <ion-col class="home-border">
        <ion-button (click)="onSalesOrder(module)" color="plureMain">View</ion-button>
      </ion-col>
      <ion-col class="home-border">
        <ion-button color="plureMain">Offline</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
  
<!-- 
  <ion-row class="home-title">
    <ion-col>
      Sales orders
    </ion-col>
  </ion-row>
  <ion-row class="home-center">
    <ion-col class="home-border">
      New
    </ion-col>
    <ion-col class="home-border">
      View
    </ion-col>
    <ion-col class="home-border">
      Temporaly
    </ion-col>
  </ion-row>

  <ion-row class="home-title">
    <ion-col>
      Sales invoices
    </ion-col>
  </ion-row>
  <ion-row class="home-center">
    <ion-col class="home-border">
      New
    </ion-col>
    <ion-col class="home-border">
      View
    </ion-col>
    <ion-col class="home-border">
      Temporaly
    </ion-col>
  </ion-row>

  <ion-row class="home-title">
    <ion-col>
      Credit memo
    </ion-col>
  </ion-row>
  <ion-row class="home-center">
    <ion-col class="home-border">
      New
    </ion-col>
    <ion-col class="home-border">
      View
    </ion-col>
    <ion-col class="home-border">
      Temporaly
    </ion-col>
  </ion-row>

  <ion-row class="home-title">
    <ion-col>
      Return order
    </ion-col>
  </ion-row>
  <ion-row class="home-center">
    <ion-col class="home-border">
      New
    </ion-col>
    <ion-col class="home-border">
      View
    </ion-col>
    <ion-col class="home-border">
      Temporaly
    </ion-col>
  </ion-row> -->

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-toolbar-backg">
    <ion-buttons slot="primary" class="ion-toolbar-button">
      <ion-button>
        <ion-icon class="ion-toolbar-button" name="document-text-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="ion-toolbar-button" name="sync-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="ion-toolbar-button" name="albums-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<!-- 
<ion-buttons slot="secondary">
  <ion-button>
    <ion-icon name="sync-outline"></ion-icon>
  </ion-button>
  <ion-button>
    <ion-icon name="sync-outline"></ion-icon>
  </ion-button>
  <ion-button>
    WMS
  </ion-button>
</ion-buttons> -->
<!-- <ion-title>Default Buttons</ion-title>
<ion-buttons slot="primary">
  <ion-button color="secondary">
    <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
  </ion-button>
</ion-buttons> -->