@import "../../../../sass/var";

ion-content {
    .home-title {
        padding: 10px 0 0;
        ion-col {
            color: #555555;
            font-size: 12px;
        }
    }
    .home-center {
        ion-button {
            width: 100%;
        }
    }
    .accorn {
        padding: 0 0 10px 0;
        .accorn-title {
            background: #777777;
            font-size: 12px;
            padding: 10px 5px;
        }
        .accorn-body {
            font-size: 12px;
            margin: 10px 0 0;
            .btn-align {
                text-align: center;
                padding: 0;
                ion-button {
                    display: inline-block;
                }
            }
            ion-datetime {
                padding: 0;
            }
        }
    }
    .accorn.accorn-fields-dynamics {
        .accorn-fields-dynamics-title {
            padding: 15px 0 0 5px;
        }
        ion-datetime {
            padding: 10px;
        }
    }
}
