<PlureHeader (click)="back()" type="1" title="Pallet" url="page/wms/wmsPutAway" notify="0"></PlureHeader>

<ion-content>
    <form>
        <div class="designform-header">
            <ion-row>
                <ion-col>
                    <h2> Pallet: {{No}}</h2>
                </ion-col>

            </ion-row>


            <ion-row class="delivery newColor2">
                <ion-col size="10">
                    <ion-searchbar [(ngModel)]="LPNo" [ngModelOptions]="{standalone: true}"
                        (ionInput)="onFilter($event)" show-clear-button="always" clear-icon="close-outline"
                        placeholder="Filter LP"></ion-searchbar>
                </ion-col>

                <ion-col size="2" class="barcodebtn">
                    <ion-icon size="large" name="barcode-outline" (click)="autoComplet()"></ion-icon>
                </ion-col>
            </ion-row>


        </div>
        <div class="accorn">
            <div class="order-details">
                <ion-row>
                    <ion-col size="3" class="txt">

                    </ion-col>

                </ion-row>
            </div>
            <div class="accorn-body">
                <div class="lines">
                    <ion-list>
                        <div>

                            <ion-item-sliding>


                                <ion-item>
                                    <div class="label-lines" part="item-width">
                                        <ion-row *ngIf="boolean">
                                            <ion-col size="15" *ngFor="let item of lps; let i=index">
                                                <ion-row>

                                                    <ion-col size="6" class="label-line-title blue" *ngIf="item.fields != undefined">
                                                        {{item.fields.PLULPDocumentNo}}
                                                    </ion-col>
                                                    <ion-col size="4" class="label-line-title blue" *ngIf="item.fields === undefined">
                                                        {{item.PLUNo}}
                                                    </ion-col>
                                                    <ion-col  size="4" class="label-line-title" *ngIf="item.fields === undefined">
                                                        UoM: {{item.PLUUnitofMeasureCode}}
                                                    </ion-col>

                                                    <ion-col size="4" class="label-line-title"
                                                     *ngIf="item.fields === undefined">
                                                    Qty. {{item.PLUQuantity}}

                                                </ion-col>

                                                <ion-col size="6" class="label-line-title"
                                                *ngIf="item.fields != undefined">
                                                Qty. {{item.fields.PLUQuantity}}

                                               </ion-col>
                                                </ion-row>

                                             
                                                <ion-row *ngIf="item.fields != undefined ">
                                                    <ion-col size="4" class="label-line">
                                                        Item No: {{item.fields.PLUNo}}
                                                    </ion-col>
                                                    <ion-col style="padding-right: 30px;" size="4" class="label-line">
                                                        Measure: {{item.fields.PLUUnitofMeasureCode}}
                                                    </ion-col>

                                                </ion-row>


                                                <ion-row *ngIf="item.fields != undefined ">
                                                    <ion-col size="4" class="label-line">
                                                        Take: {{item.fields.PLUBinCode}}
                                                    </ion-col>
                                                    
                                                
                                                    <ion-col size="4" class="label-line-ligth"
                                                        >
                                                        Place: {{item.fields.place}}

                                                    </ion-col>

                                                </ion-row>

                                                <ion-row *ngIf="item.fields === undefined ">
                                                    <ion-col size="4" class="label-line">
                                                        Take: {{item.PLUBinCode}}
                                                    </ion-col>
                                                

                                                    <ion-col size="4" class="label-line-ligth"
                                                        >
                                                        Place: {{item.place}}

                                                    </ion-col>

                                                </ion-row>

                                            <ion-row *ngIf="item.fields === undefined">
                                                <ion-col size="4" *ngIf="item.PLUSerialNo != null">

                                                    Serial No:{{item.PLUSerialNo}}
                                                </ion-col>

                                                <ion-col size="4"  *ngIf="item.PLULotNo != null">
                                                    Lot No:{{item.PLULotNo}}
                                                    
                                                </ion-col>

                                                <ion-col size="4"   *ngIf="item.PLUExpirationDate != null">
                                                    
                                                    Exp Date:{{item.PLUExpirationDate}}
                                                </ion-col>

                                            </ion-row>

                                                <ion-item-sliding>

                                                    <ion-item style="width: 100%;">
                                                        <ion-row *ngIf="item.fields != undefined">
                                                            <ion-col size="12" class="label-line splitimage">
                                                                <label *ngIf="item.fields.image != 'NOIMAGE' && show"
                                                                    class="label">{{item.fields.PLUNo}}</label>&nbsp;
                                                                <img *ngIf="item.fields.image != 'NOIMAGE' && show"
                                                                    [src]="item.fields.image" alt="">
                                                                <img *ngIf="item.fields.image === 'NOIMAGE' && show"
                                                                    src="../../../../assets/img/caja.jpg" alt="">

                                                            </ion-col>

                                                        </ion-row>

                                                        <ion-row *ngIf="item.fields === undefined">
                                                            <ion-col size="12" class="label-line splitimage">
                                                                <label *ngIf="item.image != 'NOIMAGE' && show"
                                                                    class="label">{{item.PLUNo}}</label>&nbsp;
                                                                <img *ngIf="item.image != 'NOIMAGE' && show"
                                                                    [src]="item.image" alt="">
                                                                <img *ngIf="item.image === 'NOIMAGE' && show"
                                                                    src="../../../../assets/img/caja.jpg" alt="">

                                                            </ion-col>

                                                        </ion-row>

                                                    </ion-item>


                                                </ion-item-sliding>

                                            </ion-col>
                                        </ion-row>

                                    </div>



                                </ion-item>


                            </ion-item-sliding>



                        </div>
                    </ion-list>
                </div>
            </div>
        </div>
    </form>
</ion-content>


<PlureVersion class="footerReceipt" showVersion="0">
    <ion-row>


        <ion-col size="12" (click)="onShow()">
            <ion-icon class="itemfooter" size="large" name="eye-outline" *ngIf="!show"></ion-icon>
            <ion-icon class="itemfooter" size="large" name="eye-off-outline" *ngIf="show"></ion-icon>
            <div class="itemfooter" *ngIf="!show">Show Images</div>
            <div class="itemfooter" *ngIf="show">Hide images</div>
        </ion-col>

    </ion-row>
</PlureVersion>