<PlureHeader type="1" title="{{process.salesType}}" url="page/sales/main" notify="1"></PlureHeader>
<ion-content class="content">
  <!-- <div class="header">
    <h1>{{process.salesType}}</h1>
  </div> -->
  <div class="content-desing">
    <div class="content-section">
      <ion-row class="title">
        <ion-col size="11">New</ion-col>
        <ion-col size="1" class="elipse">
          <img src="../../../../assets/img/modules/elipse.svg" />
          <img src="../../../../assets/img/modules/elipse.svg" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="add" (click)="onAddSales()">
            <div class="btnAdd">
              <ion-row>
                <ion-col size="10" class="nopadding2">
                  <div class="txt">
                    Add new <span>{{process.salesType}}</span>
                  </div>
                </ion-col>
                <ion-col size="2" class="nopadding">
                  <div class="icon">
                    <img src="../../../../assets/img/modules/sales/new.svg" />
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="content-section sect2">
      <ion-row class="title">
        <ion-col size="11">View</ion-col>
        <ion-col size="1" class="elipse">
          <img src="../../../../assets/img/modules/elipse.svg" />
          <img src="../../../../assets/img/modules/elipse.svg" />
        </ion-col>
      </ion-row>
      <ion-row class="viewOrders">
        <ion-col size="12">
          <div class="list-orders" (click)="onSalesList()">
            <div class="btn-list-orders">
              <ion-row>
                <ion-col size="4" class="icon">
                  <img src="../../../../assets/img/modules/sales/viewSales.svg" />
                </ion-col>
                <ion-col *ngIf="sales != undefined" size="8" class="sales">
                  <div class="bold">
                    Open sales <br />
                    {{sales.value}}
                  </div>
                  <div class="blue">{{sales.id}}</div>
                  <div>{{sales.fields.SelltoCustomerNo}}</div>
                  <div>{{sales.fields.OrderDate}}</div>
                </ion-col>
                <ion-col *ngIf="sales == undefined" size="8" class="sales">
                  <div  class="bold">
                    Open sales
                  </div>
                  <div>&nbsp;</div>
                  <div>&nbsp;</div>
                  <div>&nbsp;</div>
                  <div>&nbsp;</div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="content-section sect3">
      <ion-row class="title">
        <ion-col size="11">{{process.salesType}} Offline</ion-col>
          <ion-col size="1" class="elipse">
            <img src="../../../../assets/img/modules/elipse.svg" />
            <img src="../../../../assets/img/modules/elipse.svg" />
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="list-orders">
            <div class="btn-list-orders" (click)="onTemp()">
              <ion-row>
                <ion-col>
                  <div class="temporaly">
                    <div class="icon-temporaly">
                      <ion-row>
                        <ion-col size="8">
                          <img src="../../../../assets/icon/offline.svg" />
                        </ion-col>
                        <ion-col size="4" class="offl" *ngIf="temporaly != null">
                          <div>{{temporaly.length}}</div>
                        </ion-col>
                        <ion-col size="4" class="offl" *ngIf="temporaly == null">
                          <div>0</div>
                        </ion-col>
                      </ion-row>
                    </div>
                    <div class="progress-temporaly" *ngIf="temporaly != null">
                      <ion-progress-bar value="{{tempPerc}}"></ion-progress-bar>
                    </div>
                    <div class="progress-temporaly" *ngIf="temporaly == null">
                      <ion-progress-bar value="0"></ion-progress-bar>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>  
</ion-content>
<PlureVersion showVersion="0">
  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col size="4" (click)="onSyncTemp()">
      <ion-icon class="iconfooter" name="sync-circle"></ion-icon>
      <div>Sync</div>
      <hr />
    </ion-col>
  </ion-row>
</PlureVersion>