@import "~src/sass/wms";


ion-item {
    --border-color: transparent;
    padding: 0px 0 10px 0;
}



ion-fab-button[data-desc] {
    position: relative;
}

ion-fab-button{
    --background: linear-gradient(to bottom, var(--ion-color-primary), var(--ion-color-primary-background));
}



