<ion-header>
  <ion-toolbar color="plureMain">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main/settings" text="" ></ion-back-button>
    </ion-buttons>
    <ion-title>Security</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Change password</ion-label>
    </ion-list-header>

    <form [formGroup]="frm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Last password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="LastPassword" [type]="showPassword[0] ? 'text' : 'password'"></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIcon[0]" (click)="togglePassword(0)" ></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">New password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="NewPassword" [type]="showPassword[1] ? 'text' : 'password'"></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIcon[1]" (click)="togglePassword(1)"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm new password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="ConfirmNewPassword" [type]="showPassword[2] ? 'text' : 'password'"></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIcon[2]" (click)="togglePassword(2)"></ion-icon>
      </ion-item>
      <div class="center">
        <ion-button type="submit"  shape="round" [disabled]="!frm.valid">
          Save
        </ion-button>
      </div>
    </form>
  </ion-list>

</ion-content>
