

<PlureHeader type="1" title="Add LP or Item" url="page/wms/wmsMain" notify="0"></PlureHeader>




<ion-content *ngIf="!boolean">

  <ion-row class="header" style="text-align: center;">
    <ion-col size="9">
      <ion-label style="font-family: Arial, Helvetica, sans-serif;">License plate</ion-label>
    </ion-col>
  </ion-row><br>

<ion-grid>
  <ion-row class=" newColor" >
    <ion-col size="3">
      <div style="font-family: Arial, Helvetica, sans-serif;">LP No</div>
    </ion-col>
    <ion-col size="4">
      <div style="font-family: Arial, Helvetica, sans-serif;">Qty</div>
    </ion-col>
    <ion-col size="4">
      <div style="font-family: Arial, Helvetica, sans-serif;">UoM</div>
    </ion-col>
  </ion-row>

  <ion-row class=" delivery newColor" *ngFor="let item of listLp; let i= index" (click)="addLP(item)">
    <ion-col size="3">
      <div>{{item.fields.PLULPDocumentNo}}</div>
    </ion-col>
    <ion-col size="4">
      <div>{{item.fields.PLUQuantity}}</div>
    </ion-col>
    <ion-col size="4">
      <div>{{item.fields.PLUUnitofMeasureCode}}</div>
    </ion-col>
  </ion-row>


</ion-grid><br><br>


<ion-row class="header" style="text-align: center;">
  <ion-col size="9">
    <ion-label style="font-family: Arial, Helvetica, sans-serif;">Items</ion-label>
  </ion-col>
</ion-row><br>


<ion-grid>
  <ion-row class=" newColor" >
    <ion-col size="3">
      <div style="font-family: Arial, Helvetica, sans-serif;">ItemNo</div>
    </ion-col>
    <ion-col size="4">
      <div style="font-family: Arial, Helvetica, sans-serif;">Qty</div>
    </ion-col>
    <ion-col size="4">
      <div style="font-family: Arial, Helvetica, sans-serif;">LineNo</div>
    </ion-col>
  </ion-row>


  <ion-row class=" delivery newColor" *ngFor="let item of items.Possible_ItemsChilds; let i=index" (click)="addItem(item)">

   

  
    <ion-col size="3" *ngIf="item.Qty > 0">
      <div>{{item.ItemNo}}</div>
    </ion-col>
    <ion-col size="4" *ngIf="item.Qty > 0">
      <div>{{item.Qty}}</div>
    </ion-col>
    <ion-col size="4" *ngIf="item.Qty > 0">
      <div>{{item.LineNo}}</div>
    </ion-col>
 
  </ion-row>


</ion-grid>

</ion-content>
