ion-header.main {    
    ion-toolbar {

        padding-top: 8.5% !important;
        
        ion-title {
            font-family: SourceSansProRegular !important;
            font-style: normal;
            font-size: 24px;
            line-height: 30px;
        }
    }
}

ion-header {
    background: var(--ion-color-plureHeader);
}

ion-content.login, ion-content.intro {

    div.plure-brand {
        position: fixed;        
        width: 100%;
        height: 26.5%;
        top: 12.3%;        

        div.plure-brand-logo {
            display: block;
            margin: auto;            
            width: 44%;
            height: 71.2%;
            background: url(../assets/img/img-logo-plure.svg) no-repeat center;
            background-size: 100% 100%;  
        }

        div.plure-brand-tittle {
            text-align: center;            

            h1 {
                display: inline-block;
                color: $plure-label-color;             
                font-style: normal;
                font-weight: bold;
                font-size: 24.5px;
                line-height: 31px;
            }
        }
    }

    form {         
        position: fixed;
        margin: 0px 9.25% 0 9.25%;
        padding-top: 5px;
        width: 81.5%;
        top: 41.5%; 
        height: 35%;
    }

    ion-label.plure-label { 

        p {            
            color: $plure-label-color;             
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;            

            margin-bottom: 5px !important;
        }                
    }
    
    ion-item.plure-input {        

        --background: none;
        background: $plure-init-input-bg;
        border-radius: 50px;            
        
        ion-input, ion-select {            
            color: $plure-init-input-color;
            --padding-top: 5px !important;            
            --padding-bottom: 5px !important;                       
            width: 100%;

            font-size: 16px;
            line-height: 20px; 
        }
    }

    ion-button.plure-button {
        margin: 20px 0 0 0 !important;
        font-style: normal;
        font-weight: bold;
        color: $plure-init-input-color;     
        font-size: 18px;
        line-height: 23px;
        width: 57.25% !important;
    }

    ion-grid.plure-footer {
        position: fixed;
        top: 85%;
        width: 100%;
        height: 10%;
        text-align: center;    
        font-size: 13px;
        line-height: 16.34px;
        color: $plure-label-color;        
    
        margin: 0px 9.25% 0 9.25%;
        padding-top: 5px;
        width: 81.5%;
    
        ion-row.hm-pg {        
            border-top: 1px solid $plure-init-input-bg;            
            vertical-align: bottom;                   
            a {
                display: inline-block;
                margin: 5px 0px 0px 0px !important; 
                color: $plure-label-color;                
            }
        }   

        a {
            text-decoration: none;
        }
    }
}

/*Popovers*/
.popoverOptions {
    .popover-content {
        width: 250px;
    }
}

.popLicensePlate {
    .popover-content {
        width: 300px;
        padding-bottom: 10px;
        ion-row {
            height: 30px;
            padding: 5px 0;
            color: var(--ion-color-plureMain);
            ion-input { 
                height: 20px;
                border-bottom: 1px solid var(--ion-color-plureMain);
                color: var(--ion-color-plureMain);
            }
        }
        ion-row.header {
            height: auto;
        }
        ion-row.footer {
            padding-top: 15px;
        }
    }
    ion-content::part(scroll) {
        height: 310px !important;
    }
}
/*End Popovers*/

.glass-fx {
    background-color: rgb(85, 85, 105, 0.3);    
    backdrop-filter: blur(12px);    
}

div.logofooter2 {
    div {
        color: rgba(72, 74, 81, 0.3); 
        font-size: 12px;
    }
    hr {
        background: rgba(72, 74, 81, 0.3); 
        height: 3px; border-radius: 50px;
    }
}

// loading
loading-plure {
    .container {
        align-items: center;        
        display: flex;
        justify-content: center;
        height: 100%;
        left: 0;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        .loading {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100%;
            img {
                display: inline-block;
            }
        }
    }   
}

ion-content.changePassword {
    ion-input {
        margin: 0;
        .native-input {
            --padding: 0 !important;
            padding: 0 !important;
        }
    }
    ion-item.ion-invalid {
        --highlight-background: none;
    }
    ion-item.ion-valid {
        --highlight-background: none;
    }
}

// sales
ion-content {
    ion-row.avatar {
        padding: 10px;
        ion-col.avatar-img {
            padding: 10px;
            img {
                border: 0.8px solid var(--ion-color-plureMain);
                border-radius: 100%;
                width: 100%;
            }
        }
        ion-col.avatar-txt {
            padding-top: 30px;
            ion-label {
                color: var(--ion-color-plureMain);
                font-weight: 600;
            }
        }
    }
}
    
div.logofooter2 {
    ion-row{
        ion-col {
            img {
                height: 20px;
            }
        }
    }
}

btn-search {
    height: 100%;
}

// Se agrega codigo para ajustar error en el input de las Sales
ion-row.label-SO-text-row {
    ion-col {
        font-size: 10px;
        ion-input {
            position: relative;
        }
        .native-input {
            position: absolute;
        }
    }
}