.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.ion-color-plure {
    --ion-color-base: var(--ion-color-plure) !important;
    --ion-color-base-rgb: var(--ion-color-plure-rgb) !important;
    --ion-color-contrast: var(--ion-color-plure-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-plure-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-plure-shade) !important;
    --ion-color-tint: var(--ion-color-plure-tint) !important;
}


.ion-color-plureBlack {
    --ion-color-base: var(--ion-color-plureBlack) !important;
    --ion-color-base-rgb: var(--ion-color-plureBlack-rgb) !important;
    --ion-color-contrast: var(--ion-color-plureBlack-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-plureBlack-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-plureBlack-shade) !important;
    --ion-color-tint: var(--ion-color-plureBlack-tint) !important;
}

.ion-color-plureGrey {
    --ion-color-base: var(--ion-color-plureGrey) !important;
    --ion-color-base-rgb: var(--ion-color-plureGrey-rgb) !important;
    --ion-color-contrast: var(--ion-color-plureGrey-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-plureGrey-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-plureGrey-shade) !important;
    --ion-color-tint: var(--ion-color-plureGrey-tint) !important;
}

.input-plure {    
    border-radius: 5px;    
}

ion-content.content-init-background {
    --background: none;
    position: fixed;    
    // background: var(--ion-color-plure) url(../assets/img/img-background-plure.png) no-repeat;        
    background-size: 480px 519.83px;    
    background-position-x: center;
    background-position-y: 75%; 
}

ion-input {
    --placeholder-color: var(--ion-color-plure);
}
