ion-header.main {    
    ion-toolbar {

        padding-top: 8.5% !important;
        
        ion-title {
            font-family: SourceSansProRegular !important;
            font-style: normal;
            font-size: 24px;
            line-height: 30px;
        }
    }
}

ion-header {
    background: var(--ion-color-plureHeader);
}

ion-content.login, ion-content.intro {

    div.plure-brand {
        position: fixed;        
        width: 100%;
        height: 26.5%;
        top: 12.3%;        

        div.plure-brand-logo {
            display: block;
            margin: auto;            
            width: 44%;
            height: 71.2%;
            background: url(../assets/img/img-logo-plure.svg) no-repeat center;
            background-size: 100% 100%;  
        }

        div.plure-brand-tittle {
            text-align: center;            

            h1 {
                display: inline-block;
                color: $plure-label-color;             
                font-style: normal;
                font-weight: bold;
                font-size: 24.5px;
                line-height: 31px;
            }
        }
    }

    form {         
        position: fixed;
        margin: 0px 9.25% 0 9.25%;
        padding-top: 5px;
        width: 81.5%;
        top: 41.5%; 
        height: 35%;
    }

    ion-label.plure-label { 

        p {            
            color: $plure-label-color;             
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;            

            margin-bottom: 5px !important;
        }                
    }
    
    ion-item.plure-input {        

        --background: none;
        background: $plure-init-input-bg;
        border-radius: 50px;            
        
        ion-input, ion-select {            
            color: $plure-init-input-color;
            --padding-top: 5px !important;            
            --padding-bottom: 5px !important;                       
            width: 100%;

            font-size: 16px;
            line-height: 20px; 
        }
    }

    ion-button.plure-button {
        margin: 20px 0 0 0 !important;
        font-style: normal;
        font-weight: bold;
        color: $plure-init-input-color;     
        font-size: 18px;
        line-height: 23px;
        width: 57.25% !important;
    }

    ion-grid.plure-footer {
        position: fixed;
        top: 85%;
        width: 100%;
        height: 10%;
        text-align: center;    
        font-size: 13px;
        line-height: 16.34px;
        color: $plure-label-color;        
    
        margin: 0px 9.25% 0 9.25%;
        padding-top: 5px;
        width: 81.5%;
    
        ion-row.hm-pg {        
            border-top: 1px solid $plure-init-input-bg;            
            vertical-align: bottom;                   
            a {
                display: inline-block;
                margin: 5px 0px 0px 0px !important; 
                color: $plure-label-color;                
            }
        }   

        a {
            text-decoration: none;
        }
    }
    

}

/*Popovers*/
.popoverOptions {
    .popover-content {
        width: 250px;
    }
}

.popLicensePlate {
    .popover-content {
        width: 300px;
        padding-bottom: 10px;
        ion-row {
            height: 30px;
            padding: 5px 0;
            color: var(--ion-color-plureMain);
            ion-input { 
                height: 20px;
                border-bottom: 1px solid var(--ion-color-plureMain);
                color: var(--ion-color-plureMain);
            }
        }
        ion-row.header {
            height: auto;
        }
        ion-row.footer {
            padding-top: 15px;
        }
    }
    ion-content::part(scroll) {
        height: 310px !important;
    }
}
/*End Popovers*/

.glass-fx {
    background-color: rgb(85, 85, 105, 0.3);    
    backdrop-filter: blur(12px);    
}

div.logofooter2 {
    div {
        color: rgba(72, 74, 81, 0.3); 
        font-size: 12px;
    }
    hr {
        background: rgba(72, 74, 81, 0.3); 
        height: 3px; border-radius: 50px;
    }
}

// loading
loading-plure {
    .container {
        align-items: center;        
        display: flex;
        justify-content: center;
        height: 100%;
        left: 0;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        .loading {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100%;
            img {
                display: inline-block;
            }
        }
    }   
}

ion-content.changePassword {
    ion-input {
        margin: 0;
        .native-input {
            --padding: 0 !important;
            padding: 0 !important;
        }
    }
    ion-item.ion-invalid {
        --highlight-background: none;
    }
    ion-item.ion-valid {
        --highlight-background: none;
    }
}

// sales
ion-content {
    ion-row.avatar {
        padding: 10px;
        ion-col.avatar-img {
            padding: 10px;
            img {
                border: 0.8px solid var(--ion-color-plureMain);
                border-radius: 100%;
                width: 100%;
            }
        }
        ion-col.avatar-txt {
            padding-top: 30px;
            ion-label {
                color: var(--ion-color-plureMain);
                font-weight: 600;
            }
        }
    }
}
    
div.logofooter2 {
    ion-row{
        ion-col {
            img {
                height: 20px;
            }
        }
    }
}

btn-search {
    height: 100%;
}


ion-item::part(native) {
    background: transparent;
    padding: 0;
    color: #000;
    font-size: 12px;
}

ion-item ion-input {
    background: none !important;
}

.item-lines {
    ion-input {
        width: 20px;
    }
}

.input-black {
    background-color: #111111 !important;
    padding: 0 5px !important;
}

.btn-decrement {
    --border-radius: 100% !important;
    padding: 3px;
    font-size: 12px;
    width: 35px !important;
    height: 35px !important;
}

.btn-increment {
    --border-radius: 100% !important;
    padding: 3px;
    width: 35px !important;
    height: 35px !important;
    font-size: 12px;
}

.lines {
    ion-item::class(item-inner) {
        background-color: #f00;
        padding: 0 !important;
    }
}

.label-lines {
    width: 100%;
    padding: 0px 0px 10px 20px;

    ion-col {
        padding: 2px 10px 2px 0;
    }

    .label-line-title {
        font-size: 14px;
        font-weight: bold;

        img.noImage {
            padding-top: 20px;
        }
    }

    .label-line-title.blue {
        color: var(--ion-color-plureBlue);
        font-size: 16px;
        font-family: SourceSansProBold;
    }

    .label-line {
        color: rgba(85, 85, 105, 0.5);
        font-size: 12px;
        padding: 0 10px 0 0;
    }

    .negrilla {

        color: #000;
        font-size: 10px;
        padding: 10px 10px 0 0;
    }
}

ion-button.add-lines {
    height: 33px;
    font-size: 24px;
    width: 52px;
}

ion-button.add-lines::part(native) {
    border-radius: 10px;
}

.select-floating {
    ion-label {
        display: inline-block;
        font-size: 10px;
        left: 15px;
        position: absolute;
        top: 5px;
    }
}

// design
.designform-header {
    background: linear-gradient(to top, #5CABF9, #1A518E) !important;
    // margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 0.3rem;
    position: relative;
    color: #ffffff;
    border-radius: 0 0 70% 0;
    font-weight: bold;
    box-shadow: 0px 5px 16px #00000029;

    ion-col.customer-margin {
        margin: 5px 0 0;
    }

    ion-label.customerName {
        font-size: 1.3rem;
        font-family: SourceSansProBold;
    }

    ion-label.smallfont {
        font-size: 15px;

        .datetime-text {
            font-size: 15px;
        }
    }

    ion-row.total-for-pay {
        background: var(--ion-color-plureHeader) !important;
        border-radius: 10px 0 0 10px;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11);
        bottom: -1.67em;
        position: absolute;
        padding: 0.5em 1.5em;
        right: 0;

        ion-label {
            font-size: 1.4rem;
            color: var(--ion-color-plureBlue);
            font-family: SourceSansProBold;
        }
    }

    ion-row.customerNo {
        margin-top: -0.8em;

        ion-label.smallfont {
            font-size: 0.65rem;
        }
    }

    ion-row {
        padding: 1px 20px 0 20px;
    }

    .newColor {
        background: rgb(255, 255, 255, 0.25);
        border-radius: 23px;
        width: 92%;
        margin: 5px 0 22px 0;
        --ion-color-base: var(--ion-color-plureHeader)
    }

    .newColor2 {
        width: 92%;
        margin: 0px 0 10px -5px;
        --ion-color-base: var(--ion-color-plureHeader)
    }

    ion-datetime {
        border-bottom: 1px solid #fff;
        padding: 3px 0 0 !important;
        text-align: center;
    }

    div.icon-header {
        float: left;
        padding-right: 3px;
        width: 35px;
    }

    div.text-header {
        float: left;
        padding-top: 3px;
        width: 40%;
    }


    ion-col.edit-header {
        padding-top: 11px;

    }


    hr {
        background: var(--ion-color-plure-contrast);
        width: 92%;
        margin: 0 0 4px 35px;
    }
}

.accorn {
    font-size: 12px;

    // ion-row {
    //     ion-col {
    //         ion-label {
    //           //  color: var(--ion-color-plureMain);
    //         }
    //     }
    // }
    .accorn-title {
        padding: 5px;
        font-weight: bold;
    }

    .btn-accord {
        text-align: center;

        .accord-btn-add {
            display: inline-block;
        }
    }
}

div.accornSubTotal {
    margin-bottom: 100px;
    margin-top: 30px;
    text-align: center;

    div.box-sh {
        box-shadow: 0px 0px 8px rgb(0 0 0 / 11%);
        border-radius: 10px;
        display: inline-block;
        padding: 10px;
        width: 200px;
    }
}

.order-details {
    color: #aaaaaa;
    padding: 0 0.2em 0;

    ion-col.txt {
        padding-top: 14px;
        font-weight: bold;
        padding-left: 20px;

        ion-label {
            font-size: 20px;
        }
    }
}

ion-col.item {

    // border-bottom: 2px solid gray;
    width: 100%;

}


.barcodebtn {
    margin: auto;
    text-align: left;
}

.newspapper {
    font-size: 30px;
    text-align: center;
    color: var(--ion-color-plureHeader);
    margin-top: 9px;
}

.footerputaway {
    padding-bottom: 60px;
    background: linear-gradient(to bottom, #5CABF9, #1A518E);
    border-radius: 7% 7% 0% 0%;
    text-align: center;
    justify-content: center;
    box-shadow: 0px -5px 18px #00000029;
}

.itemfooter {
    color: #F2F2F2 !important;
}

ion-content {
    --background: linear-gradient(to bottom, rgb(220, 241, 255, 0.5), #ffff);
    height: 90%;
    overflow: auto;
}

ion-list {
    background: transparent;
    padding-top: 0;

}

ion-item {
    --border-color: transparent !important;
    padding: 0px 0 10px 0;
}

.select {

    // padding-top: 30px;
    // padding-left: 30px;
    width: 100%;
}

.titleslist {
    padding: 0 0 5px 0;
    justify-content: center;
}

.subtitlelist {
    padding: 0 0 10px 0;
}

.titleblue {
    color: var(--ion-color-plureBlue);
    font-size: 16px;
    font-family: SourceSansProBold;
    //   display: flex;
    //  align-items: center;
}

ion-fab-button[data-desc] {
    position: relative;
}

ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    left: 50px;
    bottom: 7px;
    color: var(--ion-color-contrast, #fff);
    background-color: var(--ion-color-base, #fff);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

ion-fab-button[data-desc2] {
    position: relative;
}

ion-fab-button[data-desc2]::after {
    position: absolute;
    content: attr(data-desc2);
    z-index: 1;
    right: 50px;
    bottom: 7px;
    color: var(--ion-color-contrast, #fff);
    background-color: var(--ion-color-base, #fff);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.thebinselect {
    max-width: 100%;
    --placeholder-opacity: 1;
    font-size: 14px;
}

ion-fab-button.custom {
    --color: #ffffff;
    --background: #1A518E;
    height: 53px;
    width: 53px;
}