

// design general
/*body {
    color: #bbbbbb !important;
}*/

// toolbar
.ion-toolbar-backg {
    --background: rgb(109, 167, 234);
    .ion-toolbar-button {
        color: #fff;
    }
}
// toolbar

ion-content, host {
    background: #ffffff;
    --background: #ffffff;
}

ion-input {
    border: none !important;
    input {
        border: none !important;
    }
}

// form
ion-input, ion-select {
    background: $input_back !important;
    color:$input_color !important;
    font-size: 13px !important;
    input {
        font-size: 13px !important;
    }
}
// end form

ion-button.btn-plure {
    border-radius: 25px;
    background: var(--ion-color-plure);
    padding: 10px;
    height: 35px;
    width: 140px !important;
    button {
        background: #fff;
    }
}
ion-button.btn-plure::part(native){
    box-shadow: none;
}

ion-button:active {
    --background: #dedede;
    color: #999999;
}

ion-button:focus {
    color: #999999;
}


ion-label { 
    padding-bottom: 20px;
}

.login {
    ion-row{
        height: 100%;
        .login-center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .login-form {
            width: 100%;
            .logo {
                margin-bottom: 20px;
                text-align: center;
                img {
                    display: inline-block;
                }
            }
            ion-row {
                margin-top: 8px;
            }
            ion-button {
                width: 100%;
            }
        }
    }
    ion-row.environmentLogin {
        padding: 0;
        ion-col {
            padding: 0;
            ion-button {
                --background: #fff;
                --background-activated: #fff;
                color: #999;
                height: 20px;
                width: 0;
            }
        }
    }
    
}

// search component 
btn-search {
    font-size: 12px;
    .search-content {
        padding: 5px;
        .search-body {
            margin-top: 10px;
            color: #000;
            ion-grid {
                ion-row {
                    border-bottom: $search_border_row;
                    padding: 5px;
                }
            }
        }
    }
}

.glass-fx {
    background-color: rgb(85, 85, 105, 0.3);    
    backdrop-filter: blur(12px);    
}

// loading
loading-plure {
    .container {
        align-items: center;        
        display: flex;
        justify-content: center;
        height: 100%;
        left: 0;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 10;
        .loading {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100%;
            img {
                display: inline-block;
            }
        }
    }   
}

alert-message {
    .container {
        align-items: center;        
        display: flex;
        justify-content: center;
        height: 100%;
        //left: 0;
        width: 100%;
        position: absolute;
        //top: 0;
        .alert-content {   
            border: solid 1px rgb(85, 85, 105, 0.5);       
            border-radius: 5px;        
            background: white;    
            margin: 10%;
            width: 90%;
            .alert-header {                
                text-align: center;
                padding: 10px;
                h1 {
                    font-weight: bold;
                }
            }
            .alert-body {                
                color: $alert-body-color;
                text-align: center;
                padding: 0 30px 30px;
            }
        }
        button.btn-plure {
            background: $alert-body-btn-back;
            border-radius: 4px;
            color: $alert-body-btn-color;
            margin-top: 20px;
            padding: 2vw 3vh;
        }
        button.btn-plure-cancel {
            margin-left: 5px;
        }
    }
}

// sales-form
.accorn {
    color: #000;
    font-size: 12px;
    margin-top: 10px;
    .accorn-title {
        background: #ddd;
        padding: 5px;
        font-weight: bold;
    }
    .btn-accord {
        text-align: center;
        .accord-btn-add {
            display: inline-block;
        }
    }
}

// sales
ion-content {
    ion-row.avatar {
        padding: 10px;
        ion-col.avatar-img {
            padding: 10px;
            img {
                border: 0.8px solid var(--ion-color-plureMain);
                border-radius: 100%;
                width: 100%;
            }
        }
        ion-col.avatar-txt {
            padding-top: 30px;
            ion-label {
                color: var(--ion-color-plureMain);
                font-weight: 600;
            }
        }
    }
}