// inputs color
$input_color: #777777;
$input_back: #fff;
$input_border: 1px solid #777;

// back home
$back-color: rgb(109, 167, 234);;

// search list
$search_border_row: 1px solid #777;

// alert-plure
$alert-back: rgba(0, 0, 0, .7);
$alert-header-back: #fff;
$alert-header-color: #555;
$alert-body-back: #fff;
$alert-body-color: #aaa;
$alert-body-btn-color: #fff;
$alert-body-btn-back: #777;

// input, select colors
$input-sel-color: #ededed;


// end input, select colors