ion-item ion-input {
    background: none !important;
    --border-color: transparent !important;
    padding: 0px 0 10px 0;
}

.item-lines {
    ion-input {
        width: 20px;
    }
}

.input-black {
    background-color: var(--ion-color-plureBlack) !important;
    padding: 0 5px !important;
}



.btn-increment {
    --border-radius: 100% !important;
    padding: 3px;
    width: 35px !important;
    height: 35px !important;
    font-size: 12px;
}



.label-lines {
    width: 100%;
    font-size: 13px;
     
    .label-line-title {
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-items: center;
      

   .label-count-lp{
    font-size: 14px; 
        font-weight: bold;
        text-transform: uppercase;
   }
    }
    .label-line-title.blue {
        color: var(--ion-color-plureBlue);
        font-size: 16px;
        font-family: SourceSansProBold;
    }
    .label-line {
        color: rgba(85, 85, 105, 0.5);
        font-size: 12px;
    }
}

ion-button.add-lines {
    height: 33px;
    font-size: 24px;
    width: 52px;
}
ion-button.add-lines::part(native){
    border-radius: 10px;
}

.select-floating {
    ion-label {
        display: inline-block;
        font-size: 10px;
        left: 15px;
        position: absolute;
        top: 5px;
    }
}

// design
.designform-header {
    background: linear-gradient(to top, var(--ion-color-primary), var(--ion-color-primary-background)) !important;
    // margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 0.5em;
    position: relative;
    color: var(--ion-color-plure-text);
    border-radius: 0 0 70% 0;
    font-weight: bold;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11);

    ion-col.customer-margin {
        margin: 5px 0 0;
    }
    ion-label.customerName {
        font-size: 1.3rem;
        font-family: SourceSansProBold;
    }
    ion-label.smallfont {
        font-size: 15px;
        .datetime-text {
            font-size: 15px;
        }
    }
    ion-row.total-for-pay {
        background: var(--ion-color-plureHeader) !important;
        border-radius: 10px 0 0 10px;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11);
        bottom: -1.67em;
        position: absolute;
        padding: 0.5em 1.5em;
        right: 0;
        
        ion-label {
            font-size: 1.4rem;
            color: var(--ion-color-plureBlue);
            font-family: SourceSansProBold;
        }
    }
    ion-row.customerNo {
        margin-top: -0.8em;
        ion-label.smallfont {
            font-size: 0.65rem;
        }
    }
    ion-row {
        padding: 5px 20px 0 20px;
    }
    ion-row.newColor {
        background: rgba(var(--ion-color-plure-row-rgb));
        margin: 5px 0 0;
    }
    ion-datetime {
        border-bottom: 1px solid #fff;
        padding: 3px 0 0 !important;
        text-align: center;
    }
    div.icon-header {
        float: left;
        padding-right: 5px;
        width: 35px;
    }
    div.text-header {
        float: left;
        padding-top: 3px;
    }
    ion-col.edit-header {
        padding-top: 11px;
    }
    hr {
        background: var(--ion-color-plure-text);
        width: 92%;
        margin: 0 0 4px 35px;
    }
}

.accorn {
    font-size: 12px;
    ion-row {
        ion-col {
            ion-label {
                color: var(--ion-color-plureMain);
            }
        }
    }
    .accorn-title {
        padding: 5px;
        font-weight: bold;
    }
    .btn-accord {
        text-align: center;
        .accord-btn-add {
            display: inline-block;
        }
    }
}

div.accornSubTotal {
    margin-bottom: 100px;
    margin-top: 30px;
    text-align: center;
    div.box-sh {
        box-shadow: 0px 0px 8px rgb(0 0 0 / 11%);
        border-radius: 10px;
        display: inline-block;
        padding: 10px;
        width: 200px;
    }
}

.order-details {
    color: #aaaaaa;
    padding: 0 0.2em 0;
    ion-col.txt {
        padding-top: 14px;
        padding-left: 20px;
        ion-label {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.PL{
    font-size: 15px;
    font-weight: bold;
}

.footerReceipt{
    height: 60px;
    background: linear-gradient(to bottom, var(--ion-color-primary), var(--ion-color-primary-background));
    border-radius: 7% 7% 0% 0%;
    box-shadow: 0px -5px 18px #00000029;

}

.itemfooter{
    color: var(--ion-color-plureWhite-icon);
}

ion-content{
    --background: linear-gradient(to bottom, rgb(var(--ion-color-plure-ion-content-background-rgb)), #ffff);
    height: 90%;
    overflow: auto;
}

ion-list{
    background: transparent;
    padding: 20px 0 0 0;
    
}

ion-item{
    background: transparent;   
}

.itemdesc{
    font-size: 14px; 
    font-weight: bold;
    text-transform: uppercase;
    color: var(--ion-color-plureBlue);
    padding-bottom: 5px;
}

.newColor2 {
    width: 92%;
    margin: 0px 0 10px -5px;
    --ion-color-base: var(--ion-color-plureHeader)
}




ion-col.item {
    width: 100%;

}

ion-item{
 
    --background: linear-gradient(to bottom, rgb(var(--ion-color-plure-ion-content-background-rgb)), #ffff);

}

.barcodebtn {
    margin: auto;
    text-align: left;
}

.newspapper {
    font-size: 30px;
    text-align: center;
    color: var(--ion-color-plureHeader);
    margin-top: 9px;
}

.footerputaway {
    padding-bottom: 60px;
    background: linear-gradient(to bottom, var(--ion-color-primary), var(--ion-color-primary-background));
    border-radius: 7% 7% 0% 0%;
    text-align: center;
    justify-content: center;
    box-shadow: 0px -5px 18px #00000029;
}

.footerlistpitems{
    --background: linear-gradient(to bottom,var(--ion-color-primary), var(--ion-color-primary-background)) !important;
    height: 60px;
    border-radius: 7% 7% 0% 0%;
    box-shadow: 0px -5px 18px var(--ion-color-primary-constrast-box-shadow);
    --border: 0px !important;

}

 
.titleslist {
    padding: 0 0 5px 0;
    justify-content: center;
}

.titleblue {
    color: var(--ion-color-plureBlue);
    font-size: 15px;
    font-family: SourceSansProBold;
    display: flex;
    align-items: center;
}

.LPNo {
    text-align: left;
}



ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    left: 50px;
    bottom: 7px;
    color: var(--ion-color-plure-text, #fff);
    background-color: var(--ion-color-base, #fff);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

ion-fab-button[data-desc2] {
    position: relative;
}

ion-fab-button[data-desc2]::after {
    position: absolute;
    content: attr(data-desc2);
    z-index: 1;
    right: 50px;
    bottom: 7px;
    color: var(--ion-color-plure-text, #fff);
    background-color: var(--ion-color-base, #fff);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}


ion-fab-button.custom {
    --color: var(--ion-color-plure-text);
    --background: var(--ion-color-primary-background);
    height: 53px;
    width: 53px;
}