/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: SourceSansProRegular;
    src: url("../assets/fonts/source_sans_pro/SourceSansPro-Regular.ttf"); //change url accordingly
}

@font-face {
    font-family: SourceSansProBold;
    src: url("../assets/fonts/source_sans_pro/SourceSansPro-Bold.ttf"); //change url accordingly
}

@import "./var";
@import "./_design_root";
@import "./_variables";
@import "./design";


.transparent-modal {

    --width: 320px;
    border-radius: 23px 0 0 23px;

}

.popLicensePlate-modal {

    --heigth: 400px;
    --width: 320px;
    border-radius: 23px 0 0 23px;
}

.popoverConfigurationCodeComponent-modal {

    --heigth: 200px !important;
    --width: 320px;
    border-radius: 23px 0 0 23px;
}

.popoverListSNComponent-modal{

    --width: 410px;
    border-radius: 23px 0 0 23px;
}

.popoverListSerialLpComponent-modal{

    --heigth: 20px !important;
    --width: 365px;
    border-radius: 23px 0 0 23px;

}

.popoverSerialesLpComponent{

    --heigth: 20px !important;
    --width: 330px;
    border-radius: 23px 0 0 23px;
}

.popoverAddItemTrakingComponent{

    --heigth: 400px;
    --width: 320px;
    border-radius: 23px 0 0 23px;
}

.popoverCountingComponent{
   
    --heigth: 400px;
    --width: 320px;
    border-radius: 23px 0 0 23px;
}

.popoverShowSerialesComponent{

    --heigth: 400px;
    --width: 370px;
    border-radius: 23px 0 0 23px;

}