/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: SourceSansProRegular;
    src: url("../assets/fonts/source_sans_pro/SourceSansPro-Regular.ttf"); //change url accordingly
}

@font-face {
    font-family: SourceSansProBold;
    src: url("../assets/fonts/source_sans_pro/SourceSansPro-Bold.ttf"); //change url accordingly
}

@import "./var";
@import "./_design_root";
@import "./_variables";
@import "./design";




.popoverSplitComponent{

    --heigth: 400px;
    --width: 320px;
    border-radius: 23px 0 0 23px;

}

.transparent-modal {

    --width: 320px;
    border-radius: 23px 0 0 23px;

}

.popLicensePlate-modal {

    --heigth: 400px;
    --width: 320px;
    border-radius: 23px 0 0 23px;
}

.popoverConfigurationCodeComponent-modal {

    --min-height: 50% !important;
    --heigth: 20% !important;
    --width: 320px;
    border-radius: 23px 0 0 23px;
}

.popoverListSNComponent-modal{

    --heigth: 20px !important;
    --width: 365px;
    border-radius: 23px 0 0 23px;
}

.popoverListSerialLpComponent-modal{

    --heigth: 20px !important;
    --width: 365px;
    border-radius: 23px 0 0 23px;

}

.popoverSerialesLpComponent{

    --heigth: 20px !important;
    --width: 330px;
    border-radius: 23px 0 0 23px;
}

.popoverAddItemTrakingComponent{

    --heigth: 400px;
    --width: 320px;
    border-radius: 23px 0 0 23px;
}

.popoverCountingComponent{
   
    --heigth: 400px;
    --width: 320px;
    border-radius: 23px 0 0 23px;
}

.popoverShowSerialesComponent{

    --width: 330px;
    border-radius: 23px 0 0 23px;

}

.popoverChildrensPalletComponent{
    --width: 365px;
    border-radius: 23px 0 0 23px;
}

.popoverListPalletComponent{
    --width: 375px;
    border-radius: 23px 0 0 23px;
}

.popoverSplitItemComponent{

    --heigth: 400px;
    --width: 320px;
    border-radius: 23px 0 0 23px;
}

.popoverPls{
    
    --heigth: 20px !important;
    --width: 330px;
    border-radius: 23px 0 0 23px;
}

.popoverMergeComponent{

    --heigth: 400px;
    --width: 320px;
    border-radius: 23px 0 0 23px;



}

.popoverListLpComponent{

    --min-height: 50% !important;
    --heigth: 20% !important;
    --width: 320px;
    border-radius: 23px 0 0 23px;

}

.PopoverSelectPalletComponent{

    --heigth: 400px;
    --width: 370px;
    border-radius: 23px 0 0 23px;
}

.popoverSettingComponent{
//--min-height: 50% !important;
    --heigth: 20% !important;
    --width: 320px;
    border-radius: 23px 0 0 23px;
}
