@import '../../../../sass/var';

// ion-content {
//     height: 100%;
//     position: fixed;
//     top: 0;
//     width: 100%;
// }

div.container {
    width: 100%;
    height: 100vh;

    div.top {
        width: 100%;
        height: calc(50vh - calc(100vh * 0.05));
        background:white;

        div.logo {
            margin-top: calc(100vh * 0.05);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    div.botton {
        top: 50%;
        width: 100%;
        height: 50vh;
        background: rgba(26, 81, 142, 0.06);
        border-radius: 15px 15px 0px 0px;
    }

    div.contenido {
        position: fixed;
        top: calc(100vh * 0.35);
        width: 100%;

        div.separator {
            margin: 2px 0px;
            border-top: 1px solid $plure-init-input-bg;
        }

        ion-label {
            h1 {
                font-family: SourceSansProRegular !important;
                color: $plure-label-color;
                font-size: 15px;
                text-transform: capitalize;
            }
        }

        ion-text {
            p {
                font-family: SourceSansProRegular !important;
                color: $plure-label-color;
                font-size: 15px;
            }
        }

        ion-button {
            margin: 5px 15px;
            width: calc(100% - 30px);
        }
    }
}

// .ion-no-padding {
//     height: 32px;
// }

#card-errors {
    display: none;
}