<ng-container>
  <ion-content>
      <ion-row class="header">
        <ion-col class="title" size="12">
          Tracking Code Configuration
        </ion-col>
        <ion-row>
          <ion-col class="title" size="12">
            INSERTAR NOMBRE DEL TRACKING (EJ:PRUEBA 13)
          </ion-col>
        </ion-row>  
      </ion-row>
      <ion-row>
        <ion-col class="Title2">
          General
        </ion-col>
      </ion-row>
      <ion-row class="rowpadding">
        <ion-col class="itemtitle">
          Code: {{code.lines.Code}}
        </ion-col>
      </ion-row>
      <ion-row class="rowpadding">
        <ion-col class="itemtitle">
          Description: {{code.lines.Descripcion}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="Title2">
          Serial No.
        </ion-col>
      </ion-row>

      <ion-list class="GeneralList">
        <ion-row class="rowpadding">
          <ion-col class="subtitle">
            General
          </ion-col>
        </ion-row>
        <ion-item>      
          <ion-label>SN Specific Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Create SN Info. on posting</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>SN Whse. Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>SN Transfer Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>


      </ion-list>

      <ion-list class="InboundList">
        <ion-row class="rowpadding">
          <ion-col class="subtitle">
            Inbound
          </ion-col>
        </ion-row>

        <ion-item>      
          <ion-label>SN No. Info Must Exist</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>SN Purchase Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>SN Sales Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>SN Positive Adjmt. Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>SN Assembly Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

      </ion-list>

      <ion-list class="OutboundList">
        <ion-row class="rowpadding">
          <ion-col class="subtitle">
            Outbound
          </ion-col>
        </ion-row>

        <ion-item>      
          <ion-label>SN No. Info Must Exist</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>SN Purchase Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>SN Sales Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>SN Positive Adjmt. Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>SN Assembly Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

      </ion-list>

      <ion-row>
        <ion-col class="Title2">
          Lot No.
        </ion-col>
      </ion-row>

      <ion-list class="GeneralList">
        <ion-row class="rowpadding">
          <ion-col class="subtitle">
            General
          </ion-col>
        </ion-row>
        <ion-item>      
          <ion-label>Lot Specific Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Create Lot Info. on posting</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Lot Whse. Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Lot Transfer Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>


      </ion-list>

      <ion-list class="InboundList">
        <ion-row class="rowpadding">
          <ion-col class="subtitle">
            Inbound
          </ion-col>
        </ion-row>

        <ion-item>      
          <ion-label>Lot No. Info Must Exist</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Lot Purchase Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Lot Sales Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Lot Positive Adjmt. Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Lot Assembly Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

      </ion-list>

      <ion-list class="OutboundList">
        <ion-row class="rowpadding">
          <ion-col class="subtitle">
            Outbound
          </ion-col>
        </ion-row>

        <ion-item>      
          <ion-label>Lot No. Info Must Exist</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Lot Purchase Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Lot Sales Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Lot Positive Adjmt. Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Lot Assembly Tracking</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

      </ion-list>

      <ion-list class="MiscList">
        <ion-row class="rowpadding">
          <ion-col class="subtitle">
            Misc.
          </ion-col>
        </ion-row>

        <ion-item>      
          <ion-label>Require Warranty Date Entry</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Use Expiration Dates</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Require Expiration Date Entry</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

        <ion-item>      
          <ion-label>Strict Expiration Posting</ion-label>
          <ion-toggle color="secondary" slot="end" [checked]="true"></ion-toggle>
        </ion-item>

      </ion-list>


    </ion-content>
</ng-container>