@import "~src/sass/popover-wms";


    .Title2{
        text-align: center;
        font-size: 15px;
        color: var(--ion-color-plureBlue);
        font-weight: bold;
    }

    .itemtitle{
        font-weight: bold;
        font-size: 12px;
    }

    .subtitle{
        font-weight: bold;
        text-align: start;
        font-size: 15px;
        color: var(--ion-color-plureBlue);
    }

    .rowpadding{
        padding-left: 10px;
    }

   
    .content{

        overflow-y: scroll;
        height: 40vh !important;
    }

    .itemfooter {
        text-align: center;
        font-size: 15px;
    }
