
@import "~src/sass/wms";


ion-list{
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 15px !important;
}

input{

    width: 40px;
    border: none;
    outline: none;
    color: black;
    border-bottom: 1px solid gray !important
}


.img{

    padding-top: 5px;
}