<PlureHeader type="1" title="WMS Main" url="page/main/modules" notify="1"></PlureHeader>

<ion-content>
  <ion-row class="avatar">
    <ion-col size="3" class="avatar-img">
      <ion-avatar>
        <img *ngIf="session.avatar == '' || session.avatar == null" src="../../../../assets/img/img-robothead.svg" />
        <img *ngIf="session.avatar != '' && session.avatar != null" src="{{session.avatar}}" />
      </ion-avatar>
    </ion-col>
    <ion-col class="avatar-txt">
      <ion-label>{{session.userName}}</ion-label>
    </ion-col>
  </ion-row>

<ion-list class="list" *ngIf="boolean">
   
    <ion-row *ngFor="let process of processes; let i = index" (click)="onWMS(process)" [ngClass]="{'after': i != processes.length - 1}">
      <ion-col size="1">
        <ion-icon name="receipt-outline" *ngIf="process.processId == 'P007'"></ion-icon>
        <ion-icon name="cube-outline" *ngIf="process.processId == 'P008'"></ion-icon>
        <ion-icon name="boat-outline" *ngIf="process.processId == 'P009'"></ion-icon>
        <ion-icon name="move-outline" *ngIf="process.processId == 'P010'"></ion-icon>
      </ion-col>
      <ion-col size="5">
        <ion-label>{{process.description}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row (click)="menuInqueris()">
      <ion-col size="1">
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-col>
        <ion-col size="5">
          <ion-label>InQueris</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1">
        <ion-icon name="stats-chart-outline"></ion-icon>
      </ion-col>
        <ion-col size="5">
          <ion-label>Reporting</ion-label>
      </ion-col>
    </ion-row>
   </ion-list>


   <ion-list class="list" *ngIf="booleanInQ">
    <ion-row (click)="pageReadLicensePlate()">
      <ion-col size="1">
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-col>
        <ion-col size="5">
          <ion-label>Read License Plate</ion-label>
      </ion-col>
    </ion-row>

    
    <ion-row (click)="pageReadBinContent()" >
      <ion-col size="1">
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-col>
        <ion-col size="7">
          <ion-label>Read Bin Content</ion-label>
        </ion-col>
      
    </ion-row>
    

  </ion-list>


  
  <ion-list class="list" *ngIf="booleanM">
    <ion-row (click)="pageMovement()">
      <ion-col size="1">
        <ion-icon name="move-outline"></ion-icon>
      </ion-col>
        <ion-col size="5">
          <ion-label>Whse. Movement</ion-label>
      </ion-col>
    </ion-row>

    <ion-row (click)="pageReclassification()">
      <ion-col size="1">
        <ion-icon name="cube-outline"></ion-icon>
      </ion-col>
        <ion-col size="7">
          <ion-label>Whse. Item Reclassification</ion-label> 
      </ion-col>
    </ion-row>

    <ion-row (click)="pageItemJournal()">
      <ion-col size="1">
        <ion-icon name="color-filter-outline"></ion-icon>
      </ion-col>
        <ion-col size="5">
          <ion-label>Whse. Item Journal</ion-label>
      </ion-col>
    </ion-row>

    <ion-row (click)="pageSplitMerge()">
      <ion-col size="1">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-col>
        <ion-col size="5">
          <ion-label>Split / Merge</ion-label>
      </ion-col>
    </ion-row>

    <ion-row (click)="selectPI()">
      <ion-col size="1">
        <ion-icon name="server-outline"></ion-icon>
      </ion-col>
        <ion-col size="5">
          <ion-label>Physical Inventory</ion-label>
        
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col size="1">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-col>
        <ion-col size="7">
          <ion-label>Whse. Non Count Journal</ion-label>
        </ion-col>
      
    </ion-row>

  </ion-list>
</ion-content>
<PlureVersion showVersion="1"></PlureVersion>