
@import "~src/sass/popover-wms";

.content {

    overflow-y: scroll;
    height: 20vh !important;
 
 
 
  ion-col {
    // border: 1px solid black;
    border-bottom: 0;
    // border-right: 5%;
    font-weight: 600;
 
 
  }

}


.row{

  
    background: var(--ion-color-plureheader);
    font-weight: bold;
    color: var(--ion-color-plureBlue);

    ion-col {
      // border: 1px solid black;
      border-bottom: 0;
      border-right: 0;
      
   
   
    }

}

.buttonCancel {
  text-align: center;
  font-size: 15px;
}


