<ion-header [hidden]="searchObj.title == undefined" >
  <ion-toolbar color="plureHeader">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <img src="../../../assets/icon/arrow_back.svg" />
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">{{searchObj.title}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [hidden]="searchObj.title == undefined" :style="height: {{ height }}px">
  <div class="search-content" *ngIf="searchObj.type == 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item class="item-native-plure">
            <div class="search-all">
              <ion-row>
                <ion-col size="2">
                  <div class="icon">
                    <img src="../../../assets/img/modules/search.svg" />
                  </div>
                </ion-col>
                <ion-col size="10">
                  <ion-input (ionInput)="onChange($event)" placeholder="Search by {{searchObj.name}}"></ion-input>
                </ion-col>
              </ion-row>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="search-body">
      <div class="title">
        {{searchObj.name}}
      </div>
      <ion-grid>
        <ion-row *ngFor="let item of listsFilter" (click)="onClick(item)">
          <ion-col>
            <ion-label class="text-id">{{item.id}}-</ion-label>
            <ion-label class="text-value">{{item.value}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-row class="search-salesOrder" *ngIf="searchObj.type == 1">
    <!-- sales order -->
    <ion-col size="12">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item class="item-native-plure">
              <div class="search-all">
                <div class="icon">
                  <img src="../../../assets/img/modules/search.svg" />
                </div>
                <div class="input">
                  <ion-input (ionInput)="onChange($event)" placeholder="Search by {{searchObj.name}}"></ion-input>
                </div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col size="12">
      <ion-list class="listOrders">
        <ion-row class="rowFirst" *ngFor="let item of listsFilter; let i = index">
          <ion-item-sliding>
            <ion-item-options side="start">
              <ion-item-option color="danger" (click)="onDeleteLine(item, i)" style="padding: 0 20px;">Delete
              </ion-item-option> <!-- Delete item -->
            </ion-item-options>

            <ion-item (click)="onClick(item)">
              <ion-row>
                <ion-col size="12" class="listOrder-no blue bold">{{item.id}}</ion-col>
                <ion-col size="12" class="listOrder-no">{{item.fields.SelltoCustomerNo}}</ion-col>
                <ion-col size="4" class="listOrder-no">{{item.fields.DocumentDate}}</ion-col>
                <ion-col size="8" class="listOrder-no bold right">{{item.value}}</ion-col>
              </ion-row>
            </ion-item>

            <ion-item-options side="end" *ngIf="item.parameters == undefined">
              <ion-item-option color="plureBlue" (click)="onPostLine(item, i)" style="padding: 0 20px;">Post
              </ion-item-option> <!-- Delete item -->
            </ion-item-options>
          </ion-item-sliding>

        </ion-row>
      </ion-list>
    </ion-col>
  </ion-row>




  <ion-row class="search-salesOrder" *ngIf="searchObj.type == 2">
    <ion-col size="12">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item class="item-native-plure">
              <div class="search-all">
                <div class="icon">
                  <img src="../../../assets/img/modules/search.svg" />
                </div>
                <div class="input">
                  <ion-input (ionInput)="onChangeLP($event)" placeholder="Search by {{searchObj.name}}"></ion-input>
                </div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col size="12">
      <ion-list class="listOrders">
        <ion-row class="rowFirst" *ngFor="let item of listsFilter; let i = index" (click)="onClick(item)">

          <ion-col>
            <ion-label class="text-id">{{item.id}}-</ion-label>
            <ion-label class="text-value">{{item.fields.PLULPDocumentNo}}</ion-label>
          </ion-col>

        </ion-row>
      </ion-list>
    </ion-col>
  </ion-row>





  <ion-row class="search-salesOrder" *ngIf="searchObj.type == 3">
    <ion-col size="12">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item class="item-native-plure">
              <div class="search-all">
                <div class="icon">
                  <img src="../../../assets/img/modules/search.svg" />
                </div>
                <div class="input">
                  <ion-input (ionInput)="onChangeP($event)" placeholder="Search by {{searchObj.name}}"></ion-input>
                </div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col size="12">
      <ion-list class="listOrders">
        <ion-row class="rowFirst" *ngFor="let item of listsFilter; let i = index" (click)="onClick(item)">

          <ion-col>
            <ion-label class="text-id">{{item.fields[0].PLUWhseDocumentNo
              }}-</ion-label>
            <ion-label class="text-value">{{item.fields[0].PLULPDocumentNo}}</ion-label>
          </ion-col>

        </ion-row>
      </ion-list>
    </ion-col>
  </ion-row>



  <ion-row class="search-salesOrder" *ngIf="searchObj.type == 4">
    <ion-col size="12">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item class="item-native-plure">
              <div class="search-all">
                <div class="icon">
                  <img src="../../../assets/img/modules/search.svg" />
                </div>
                <div class="input">
                  <ion-input (ionInput)="onChangePutAway($event)" placeholder="Search by {{searchObj.name}}">
                  </ion-input>
                </div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col size="12">
      <ion-list class="listOrders">
        <ion-row class="rowFirst" *ngFor="let item of listsFilter; let i = index" (click)="onClick(item)">

          <ion-col>
            <ion-label class="text-id">{{item.id
              }}-</ion-label>
            <ion-label class="text-value">{{item.fields.No}}</ion-label>
          </ion-col>

        </ion-row>
      </ion-list>
    </ion-col>
  </ion-row>



  <ion-row class="search-salesOrder" *ngIf="searchObj.type == 5">
    <ion-col size="12">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item class="item-native-plure">
              <div class="search-all">
                <div class="icon">
                  <ion-icon size="large" name="barcode-outline" (click)="onBarCode()"></ion-icon>
                </div>
                <div class="input">
                  <ion-input (ionInput)="onChangePI($event)" [(ngModel)]="bin" [ngModelOptions]="{standalone: true}"
                    placeholder="{{searchObj.name}}"></ion-input>
                </div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col size="12">
      <ion-list class="listOrders">

        <ion-row size="12">
          <ion-col class="titlebin" size="6">
            <ion-label>Zone/Bin Code</ion-label>
          </ion-col>
          <ion-col class="bin" size="6">
            <ion-label *ngIf="active"> Bin: {{bin}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row size="12" class="rowFirst" *ngFor="let item of listsFilter; let i = index">
          <ion-col class="binid" size="6">
              <ion-label size="3" class="text-id">{{item.ZoneCode}}-</ion-label>
              <ion-label size="3" class="text-value">{{item.BinCode}}</ion-label>
          </ion-col> 
          
          <ion-col class="binid" size="6">
            <ion-label  class="text-value">Item: {{item.ItemNo}}</ion-label>
          </ion-col>

        </ion-row>
      </ion-list>
    </ion-col>
  </ion-row>



  <ion-row class="search-salesOrder" *ngIf="searchObj.type == 6">
    <ion-col size="12">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item class="item-native-plure">
              <div class="search-all">
                <div class="icon">
                  <ion-icon size="large" name="barcode-outline" (click)="onFilter()"></ion-icon>
                </div>
                <div class="input">
                  <ion-input [(ngModel)]="lpNo" [ngModelOptions]="{standalone: true}" (ionInput)="onChangeL($event)"
                    placeholder="Scan"></ion-input>
                </div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-row>
      <ion-col size="12" class="buttonhistory">

        <ion-button shape="round" style="color: #F2F2F2 !important; padding-left: 80px;" (click)="showInventory()">
          <ion-icon name="server-outline"></ion-icon>&nbsp;&nbsp;
          show Inventory
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-col size="12" >

      <ion-list class="listOrders" *ngIf="visibleI">

        <div *ngFor="let item of items; let i=index">

          <ion-label style="padding-left: 20px;" class="label-line-title">Item:</ion-label><br>
          <ion-row class="rowFirst">
            <ion-col size="12" class="label-line-title">
              <ion-label>{{item.ItemNo}}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="rowFirst">
            <ion-col size="10">


              <ion-row>

                <ion-col size="12" class="label-line">
                  Batch Name: {{item.JournalBatchName}}
                  </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="6" class="label-line">
                  Measure: {{item.UnitofMeasureCode}}
                </ion-col>
                <ion-col size="6" class="label-line">
                  Location: {{item.LocationCode}}
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="label-line" size="6">
                  Bin Code: {{item.BinCode}}
                </ion-col>

                <ion-col class="label-line" size="6">
                  No Serie: {{item.SerialNo}}
                </ion-col>

              </ion-row>



              <ion-row>
                <ion-col class="label-line" size="6">
                  Lot: {{item.LotNo}}
                </ion-col>

                <ion-col class="label-line" size="6">
                  Exp. Date: {{item.ExpirationDate}}
                </ion-col>
              </ion-row>



              <img *ngIf="listPictureI[i].fields.Picture != 'NOIMAGE'" [src]="listPictureI[i].fields.Picture" alt="">
            


              <ion-row class="rowFirst">

              <ion-col style="overflow: hidden;" class="label-line-title blue">
                Cicle Counting
              </ion-col>

              <ion-row>
                <ion-col size="1" (click)="add(i)">
                  <ion-icon class="btnqty" name="add-circle"></ion-icon>
                </ion-col>
                <ion-col size="8" style="padding-left: 50px;">
                  <ion-input readonly type="number" value={{item.QtyPhysInventory}} (ionInput)="edit($event,i)"></ion-input>
                </ion-col>
                <ion-col size="1" (click)="res(i)">
                  <ion-icon class="btnqty" name="remove-circle"></ion-icon>
                </ion-col>
              </ion-row>
            
                </ion-row>


            </ion-col>
          </ion-row>
        </div>
      </ion-list>

      <ion-list class="listOrders" *ngIf="visible">

        <div *ngFor="let item of lps; let i=index">

          <ion-label style="padding-left: 20px;" class="label-line-title">License Plate:</ion-label><br>
          <ion-row class="rowFirst">
            <ion-col size="12" class="label-line-title">
              <ion-label>{{item.fields.PLULPDocumentNo}}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="rowFirst">
            <ion-col size="10">


              <ion-row>


                <ion-col size="12" class="label-line-title">
                  <label> Item: {{item.fields.PLUNo}}</label>
                </ion-col>

              </ion-row>

              <ion-row>

                <ion-col size="12" style="overflow: hidden; padding-right: 10px;" class="label-line-title blue">
                  {{item.company}}
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col size="4" class="label-line">
                  Item No: {{item.fields.PLUNo}}
                </ion-col>
                <ion-col size="4" class="label-line">
                  Measure: {{item.fields.PLUUnitofMeasureCode}}
                </ion-col>
                <ion-col size="4" class="label-line">
                  Location: {{item.fields.PLULocationCode}}
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="label-line" size="6">
                  Bin Code: {{item.fields.PLUBinCode}}
                </ion-col>

                <ion-col class="label-line" size="6">
                  No Serie: {{item.fields.PLUSerialNo}}
                </ion-col>

              </ion-row>



              <ion-row>
                <ion-col class="label-line" size="6">
                  Lot: {{item.fields.PLULotNo}}
                </ion-col>

                <ion-col class="label-line" size="6">
                  Exp. Date: {{item.fields.PLUExpirationDate}}
                </ion-col>
              </ion-row>



              <img *ngIf="listPicture[i].fields.Picture != 'NOIMAGE'" [src]="listPicture[i].fields.Picture" alt="">
              <img *ngIf="listPicture[i].fields.Picture === 'NOIMAGE'" src="../../../../assets/img/caja.jpg" alt="">


              <ion-row class="rowFirst">

              <ion-col style="overflow: hidden;" class="label-line-title blue">
                Cicle Counting
              </ion-col>

              <ion-row>
                <ion-col size="1" (click)="add(i)">
                  <ion-icon class="btnqty" name="add-circle"></ion-icon>
                </ion-col>
                <ion-col size="8" style="padding-left: 50px;">
                  <ion-input type="number" value={{item.fields.PLUQuantity}} (ionInput)="edit($event,i)"></ion-input>
                </ion-col>
                <ion-col size="1" (click)="res(i)">
                  <ion-icon class="btnqty" name="remove-circle"></ion-icon>
                </ion-col>
              </ion-row>
            
                </ion-row>


            </ion-col>
          </ion-row>
        </div>
      </ion-list>

    </ion-col>
  </ion-row>





<ion-row class="search-salesOrder" *ngIf="searchObj.type == 7">  
  <ion-col size="12">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item class="item-native-plure">
            <div class="search-all">
              <div class="icon">
                <img src="../../../assets/img/modules/search.svg" />
              </div>
              <div class="input">
                <ion-input (ionInput)="onChangeBatch($event)" placeholder="{{searchObj.name}}"></ion-input>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>
  <ion-col size="12">
    <ion-list class="listOrders">

      <ion-row>
        <ion-col size="12">
          <ion-label class="titlebin" style="padding-left: 20px;" >Inventory Journals Batch</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="rowFirst" *ngFor="let item of listsFilter; let i = index" (click)="onClick(item)">
        <ion-col >
            <ion-label class="text-id">{{item.Name}}-</ion-label>
            <ion-label class="text-value">{{item.LocationCode}}</ion-label>

          
          </ion-col>
      
      </ion-row>
    </ion-list>
  </ion-col> 
</ion-row>



<ion-row class="search-salesOrder" *ngIf="searchObj.type == 9" >
  <ion-col size="12">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item class="item-native-plure">
            <div class="search-all">
              <div class="icon">
                <img src="../../../assets/img/modules/search.svg" />
              </div>
              <div class="input">
                <ion-input (ionInput)="onChangeTemplate($event)" placeholder="Search by {{searchObj.name}}">
                </ion-input>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>
  <ion-col size="12">
    <ion-list class="listOrders">
      <ion-row class="rowFirst" *ngFor="let item of listsFilter; let i = index" (click)="onClick(item)">
        <ion-col>
          <ion-label class="text-value">{{item.Name}}</ion-label>
        </ion-col>

      </ion-row>
    </ion-list>
  </ion-col>
</ion-row>



  <div class="logofooter2" *ngIf="searchObj.type == 1 && new">
    <ion-row>
      <ion-col size="4">
      </ion-col>
      <ion-col size="4" (click)="onAddSalesOrder()">
        <ion-icon size="large" name="add-circle-outline"></ion-icon>
        <div class="footertext">Add</div>
        <hr />
      </ion-col>
    </ion-row>
  </div>


  <div class="logofooter2" *ngIf="searchObj.type == 5">
    <ion-row>

      <ion-col size="6" (click)="onSubmit()">
        <ion-icon class="itemfooter" size="large" name="save-outline"></ion-icon>
        <div class="footertext">Save</div>
        <hr />
      </ion-col>

      <ion-col size="6" (click)="Options()">
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button>
            <ion-icon name="chevron-up-circle"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button>
              <ion-icon name="document"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="color-palette"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="globe"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
        <ion-icon class="itemfooter" size="large" name="ellipsis-horizontal-outline"></ion-icon>
        <div class="footertext">Options</div>
        <hr />
      </ion-col>
      
    </ion-row>

  </div>

  <div class="logofooter2" *ngIf="searchObj.type == 6">
    <ion-row>
      <ion-col size="4" (click)="onBarCodeLP()">
        <ion-icon class="itemfooter" size="large" name="barcode-outline"></ion-icon>
        <div class="footertext">Bar Code</div>
        <hr />
      </ion-col>

      
      <ion-col size="4" (click)="onSubmitP(lps)">
        <ion-icon class="itemfooter" size="large" name="save-outline"></ion-icon>
        <div  class="footertext">Save</div>
        <hr />
    </ion-col>

    <ion-col size="4" (click)="onRegister()">
      <ion-icon class="itemfooter" size="large"  name="arrow-undo-outline"></ion-icon>
      <div  class="footertext">Finished</div>
      <hr />
  </ion-col>

    </ion-row>
  </div>
</ion-content>