@import "~src/sass/wms";



ion-grid.ion-margin {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;
    
    ion-row:first-child {
        background: linear-gradient(to top, var(--ion-color-primary), var(--ion-color-primary-background)) !important;
      font-weight: bold;
    }
    ion-col {
      border: 1px solid black;
      border-bottom: 0;
      border-right: 0;
    }
    ion-col:last-child {
      border-right: 1px solid black;
    }
    
    ion-row:last-child {
      border-bottom: 1px solid black;
    }
  }

  .titlespecs{
    color: var(--ion-color-plureBlue);
    font-weight: bold;
  }

  .titletakeplace{
    font-size: 15px;
    font-weight: bold;
  }

  .titletable{
    text-align: center;
    color: var(--ion-color-plureHeader);
    font-weight: bold;
  }

  .datatable{
    text-align: center;
    font-weight: bold;
  }

  .gridtakeplace{
    text-align: center;
    padding-right: 15px;
    padding-top: 10px;
  }