@import "~src/sass/popover-wms";


.content {


    overflow-y: scroll;
    height: 20vh !important;

   
    ion-row{
  
      width: 100%;
     
    }
   
    
   
    ion-col {
      // border: 1px solid black;
      border-bottom: 0;
      // border-right: 5%;
      font-weight: 600;
   
   
    }
  
  
    .col{
  
      width: 100px;
      
  
    }
  }

  

  .buttonClose {
    text-align: center;
    font-size: 15px;
  }

  
ion-row.newH {
  background: linear-gradient(to top, var( --ion-color-primary), var(--ion-color-primary-background)) !important;
 // margin: 0 0 0;
  font-weight: bold;
  color: var(--ion-color-plure-text);;
  width: 100%;
}


ion-checkbox{
  --border-radius: 50%;
}


  