
<ion-content class="ion-margin" >

    
  <ion-grid>

      <ion-row style="text-align: center;" class="row">
        <ion-col size="6" *ngIf="boolean">Item No</ion-col>
        <ion-col size="3" *ngIf="!boolean">Serial No</ion-col>
        <ion-col size="3" *ngIf="!boolean">Lot No</ion-col>
        <ion-col size="3" *ngIf="!boolean">Exp Date</ion-col>
        <ion-col size="3">Qty</ion-col>
    
      </ion-row>

      

      <div class="content"  > 
        <ion-row *ngFor="let item of list; let i = index" style="text-align: center;" >

          <ion-row *ngIf="item.QtyPhysInventory !== undefined || item.Quantity !== undefined">
            <ion-col size="6" *ngIf="boolean" >{{item.No}}</ion-col>
            <ion-col size="3" *ngIf="item.proceded === false && !boolean" >{{item.SerialNo}}</ion-col>
            <ion-col size="3" *ngIf="item.proceded === true && !boolean" (click)="opcions(item,i)"><a>{{item.SerialNo}}</a></ion-col>
            <ion-col size="3" *ngIf="!boolean">{{item.LotNo}}</ion-col>
            <ion-col size="3" *ngIf="!boolean">{{item.ExperationDate}}</ion-col>
            <ion-col size="3" *ngIf="item.Qty !== undefined">{{item.Qty}}</ion-col>
            <ion-col size="3" *ngIf="item.Quantity !== undefined && item.Quantity !== null">{{item.Quantity}}</ion-col> 
            <ion-col size="3" *ngIf="item.QtyPhysInventory !== undefined">{{item.QtyPhysInventory}}</ion-col>
            
          </ion-row>
        
      <ion-item-sliding *ngIf="item.QtyPhysInventory === undefined && item.Quantity === undefined" >

        <ion-item>
          <ion-col size="6" *ngIf="boolean">{{item.No}}</ion-col>
          <ion-col size="3" *ngIf="item.proceded === false && !boolean" >{{item.SerialNo}}</ion-col>
          <ion-col size="3" *ngIf="item.proceded === true && !boolean" (click)="opcions(item,i)"><a>{{item.SerialNo}}</a></ion-col>
          <ion-col size="3" *ngIf="!boolean">{{item.LotNo}}</ion-col>
          <ion-col size="3" *ngIf="!boolean">{{item.ExperationDate}}</ion-col>
          <ion-col size="3" *ngIf="item.Qty !== undefined">{{item.Qty}}</ion-col>
          <ion-col size="3" *ngIf="item.Quantity !== undefined && item.Quantity !== null">{{item.Quantity}}</ion-col> 
          <ion-col size="3" *ngIf="item.QtyPhysInventory !== undefined">{{item.QtyPhysInventory}}</ion-col>
          
        </ion-item>
          <ion-item-options *ngIf="item.proceded === false" (click)="delete(i)">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      
        </ion-row>
   
      </div>  
      <ion-row class="buttonClose">
        <ion-col size="12" (click)="onClose()">
          <ion-button shape="round" color="danger" type="button" (click)="onClose()">Close</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
