ion-content {

    --background: linear-gradient(to bottom, rgb(220, 241, 255, 0.5), #ffff) !important;

    ion-label {
        h1 {
            color: var(--ion-color-plureBlue);
            font-family: SourceSansProBold;
            font-size: 15px;
            margin: 20px;
            font-weight: bold;
        }
    }

    ion-list {

        background: transparent;

        ion-row {
            background: rgb(255, 255, 255, 0.25);
            border-radius: 23px;
            box-shadow: 0px 1px 4px rgb(0 0 0 / 9%);
            margin: 0 20px;
            padding: 10px;
        }

        ion-col {
            display: flex;
            font-weight: 400;
            align-items: center;
        }
    }
}

ion-icon {
    color: var(--ion-color-plureBlue);
}

img {
    width: 30px;
    height: 30px;
}