<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="changePassword">
    <form [formGroup]="frm" (ngSubmit)="onSubmit()">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <div class="plure-brand">
              <div class="plure-brand-logo">
                <img src="../../../../assets/img/img-logo-plure.svg" alt="">
              </div>
            </div>
          </ion-col>
          <ion-col size="12" >
            <div class="space-blank"></div>
          </ion-col>
          <ion-col size="12">
            <ion-label class="plure-label"><p>{{lbLastPassword}}</p></ion-label>
            <ion-item  class="plure-input" lines="none" detail="false">
              <ion-input [type]="showPassword[0] ? 'text' : 'password'" formControlName="LastPassword" placeholder="Enter your {{lbLastPassword.toLowerCase()}}"></ion-input>
              <ion-icon slot="end" [name]="passwordToggleIcon[0]" (click)="togglePassword(0)" color="light"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-label class="plure-label"><p>New password</p></ion-label>
            <ion-item  class="plure-input" lines="none" detail="false">
              <ion-input [type]="showPassword[1] ? 'text' : 'password'" formControlName="NewPassword" placeholder="Enter your new password" [(ngModel)]="NewPassword"></ion-input>
              <ion-icon slot="end" [name]="passwordToggleIcon[1]" (click)="togglePassword(1)" color="light"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-label class="plure-label"><p>Confirm new password</p></ion-label>
            <ion-item  class="plure-input" lines="none" detail="false">
              <ion-input [type]="showPassword[2] ? 'text' : 'password'" formControlName="ConfirmNewPassword" placeholder="Confirm new password" [(ngModel)]="ConfirmNewPassword"></ion-input>
              <ion-icon slot="end" [name]="passwordToggleIcon[2]" (click)="togglePassword(2)" color="light"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <div class="center">
              <ion-button type="submit" class="plure-button" shape="round" [disabled]="!frm.valid">
                Change password
              </ion-button>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="plure-footer">
              <div class="plure-footer-hp">
                <a href="http://">www.plur-e.com</a>
                <br>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>