@import '../../../../sass/var';

div.changePassword {
    font-family: SourceSansProRegular !important;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(30vh * 0.112);     
    //border: 1px solid red;

    div.plure-brand {
        text-align: center;
        //border: 1px solid black;

        div.plure-brand-logo {            
            img {
                margin: 0 auto;
                //width: 46.35%;   
                // height: calc( 30vh * 0.188424);
                //border: 1px solid blue;
              }  
        }

        div.plure-brand-tittle {
            h1 {
                color: $plure-label-color;             
                font-style: normal;
                font-weight: 700;
                font-size: 24.5px;
                line-height: 31px;
                margin: 0;
            }
        }
    }    

    ion-label.plure-label {

        p {
            font-family: SourceSansProRegular !important;
            margin: 0px 9.25% 0 9.25%;
            color: $plure-label-color;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;

            margin-bottom: 5px !important;
        }
    }

    ion-label.error-message {
        p {
            color: #f00 !important;
            font-size: 12px;
        }
    }

    ion-item.plure-input {

        margin: 0px 9.25% calc(100vh * 0.01) 9.25%;
        --background: none;
        background: $plure-init-input-bg;
        border-radius: 50px;
        height: 40px;

        ion-input, ion-select {
            //--margin-top: 0px !important;
            --padding-top: 4px !important;
            font-family: SourceSansProRegular !important;
            color: $plure-init-input-color;
            width: 100%;
            font-size: 16px;
            line-height: 20px;
        }

        ion-icon {
            margin-top: 4px !important;
            padding: 0 !important;
            display: block;
            width: 20px;
        }
    }

    div.space-blank {
        height: calc( 100vh * 0.155);
    }

    ion-button.plure-button {
        margin: calc(100vh * 0.03) 0 0 0 !important;
        font-family: SourceSansProRegular !important;
        font-style: normal;
        font-weight: bold;
        color: $plure-init-input-color;
        font-size: 18px;
        line-height: 23px;
        width: 57.25% !important;
        height: 40px;
    }

    div.plure-footer {
        color: $plure-label-color;
        margin: calc(100vh * 0.05) 9.25% 10px 9.25%;
        text-align: center;
        //margin-top: 5%;
        font-size: 13px;
        line-height: 16.34px;

        div.plure-footer-hp {
            margin-top: 17px;
            border-top: 1px solid $plure-init-input-bg;
            a {
                display: inline-block;
                margin: 6px 0px 0px 0px !important;
                color: $plure-label-color;
            }
        }

        a {
            text-decoration: none;
        }
    }
}

