@import "~src/sass/popover-wms";

ion-input{


    border-bottom: 1px solid  #aaaaaa;
    padding-bottom: 10px;
}

.btnqty {
    color: var(--ion-color-plureBlue);
    font-size: 20px;

    padding-top: 10px;
}

.selectpopupitem {
    border-bottom: none !important;
    padding: 0 0 10px 0 !important;
}

