ion-item {
    margin-top: 10px;
    padding: 0 20px;
    --border-color: var(--ion-color-plureBlue);

    ion-row {
        width: 100%;

        img {
            padding: 13px 0 0 12px;
        }

        ion-icon {
            padding: 4px 0 0 0;
            color: var(--ion-color-plureBlue);
        }
    }
}

ion-item {
    --border-width: 0 0 0 0 !important;
    --background: transparent;
    .padding10 {
        padding: 0 5px;
    }
}

ion-content {
    --background: linear-gradient(to bottom, rgb(220, 241, 255, 0.5), #ffff) !important;
}

ion-list {
    padding-top: 15px;
    background: transparent !important;
}