@import "~src/sass/wms";

.select {

    width: 100%;
}

.subtitlelist {
    padding: 0 0 10px 0;
}


ion-fab-button[data-desc] {
    position: relative;
}

.thebinselect {
    max-width: 100%;
    --placeholder-opacity: 1;
    font-size: 14px;
}




