<PlureHeader type="1" *ngIf="new" title="New - {{process.description}}" notify="0" url="none" [getObjFunc]="backObj"></PlureHeader>
<PlureHeader type="1" *ngIf="!new" title="{{process.description}} - {{idSales}}" notify="0" url="none" [getObjFunc]="backObj"></PlureHeader>

<ion-content>
  <form [formGroup]="frm" (ngSubmit)="onSubmit()">

    <div class="designform-header">
      <ion-row>
        <ion-col *ngIf="new" (click)="onCustomer()">
          <ion-label class="customerName" *ngIf="frm.controls.customerNo.value == ''">____________</ion-label>
          <ion-label class="customerName" *ngIf="frm.controls.customerNo.value != ''">{{frm.controls.customerName.value}}</ion-label>
        </ion-col>
        <ion-col *ngIf="!new">
          <ion-label class="customerName">{{frm.controls.customerName.value}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="customerNo">
        <ion-col>
          <ion-label class="smallfont">Customer No {{frm.controls.customerNo.value}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="shipTop newColor" *ngIf="!hideShipTo">
        <ion-col (click)="onShipAddress()" *ngIf="new || edit" size="11">
          <div class="icon-header">
            <img src="../../../../assets/img/modules/sales/ship-to-address.svg" width="100%" />
          </div>
          <div class="text-header">
            <ion-label class="smallfont">Ship-to: </ion-label>
            <ion-label class="smallfont" *ngIf="frm.controls.shippingNo.value != ''">{{frm.controls.shippingNo.value}} - {{frm.controls.shippingName.value}}</ion-label>
          </div>
        </ion-col>
        <ion-col *ngIf="!new && !edit" size="11">
          <div class="icon-header">
            <img src="../../../../assets/img/modules/sales/ship-to-address.svg" width="100%" />
          </div>
          <div class="text-header">
            <ion-label class="smallfont">Ship-to: </ion-label>
            <ion-label class="smallfont">{{frm.controls.shippingNo.value}} - {{frm.controls.shippingName.value}}</ion-label>
          </div>
        </ion-col>
        <ion-col size="1" *ngIf="new || edit" class="edit-header">
          <img src="../../../../assets/img/modules/sales/edit.svg" width="70%" />
        </ion-col>
      </ion-row>
      <!-- <hr *ngIf="!hideShipTo" /> -->
      <ion-row class="orderDate newColor" (click)="onDate(0)">
        <ion-col size="11">
          <div class="icon-header">
            <img src="../../../../assets/img/modules/sales/order-date.svg" width="100%" />
          </div>
          <div class="text-header lines">
            <ion-label class="smallfont">Order date: </ion-label>
            <ion-label class="smallfont">{{ frm.controls.orderDate.value | date: 'MM/dd/yyyy' }}</ion-label>
          </div>
        </ion-col>
        <ion-col size="1" *ngIf="new || edit" class="edit-header">
          <img src="../../../../assets/img/modules/sales/edit.svg" width="70%" />
        </ion-col>
      </ion-row>
      <!-- <hr *ngIf="!hideShipTo" /> -->
      <ion-row class="delivery newColor" (click)="onDate(1)" *ngIf="!hideShipTo">
        <ion-col size="11" >
          <div class="icon-header">
            <img src="../../../../assets/img/modules/sales/delivery-date.svg" width="100%" />
          </div>
          <div class="text-header">
            <ion-label class="smallfont">Delivery date: </ion-label>
            <ion-label class="smallfont">{{ frm.controls.requestedDeliveryDate.value | date: 'MM/dd/yyyy' }}</ion-label>
          </div>
        </ion-col>
        <ion-col size="1" *ngIf="new || edit" class="edit-header">
          <img src="../../../../assets/img/modules/sales/edit.svg" width="70%" />
        </ion-col>
      </ion-row>
      <ion-row class="total-for-pay">
        <ion-col>
          <ion-label>${{total}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="display: none;">
        <ion-col>
          <ion-datetime #dateOrder class="smallfont" formControlName="orderDate" display-format="MM/DD/YYYY" pickerFormat="MM DD YYYY"></ion-datetime>
          <ion-datetime #dateDelivery class="smallfont" formControlName="requestedDeliveryDate" display-format="MM/DD/YYYY" pickerFormat="MM DD YYYY"></ion-datetime>
        </ion-col>
      </ion-row>
    </div>

    <div class="accorn">
      <div class="order-details">
        <ion-row>
          <ion-col size="3" class="txt">
            <ion-label>Lines</ion-label>
          </ion-col>
          <!-- <ion-col *ngIf="new || edit">
            <ion-button class="add-lines" color="plure" (click)="onItem()" type="button">+</ion-button>
          </ion-col> -->
        </ion-row>
      </div>
      <div  class="accorn-body">
        <div formArrayName="lines" class="lines">
          <!-- <ion-list *ngFor="let item of frm.get('lines')['controls']; let i=index"> -->
          <ion-list *ngFor="let item of frm.get('lines')['controls']; let i=index">
            <div [formGroupName]="i" *ngIf="item.controls.title.value != ''">
              
              <ion-item-sliding>
                <ion-item-options *ngIf="new || edit" side="start">
                  <ion-item-option color="danger" (click)="onDeleteLine(i)" style="padding: 0 20px;">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-item-option>
                  <ion-item-option color="plureHeader" class="select-floating" *ngIf="item.controls.type.value == 'Inventory'">
                    <ion-label>Location code</ion-label>
                    <ion-select style="width: 150px;" formControlName="locationCode">
                      <ion-select-option value="">Select location</ion-select-option>
                      <ion-select-option *ngFor="let location of locationSetup" value="{{location.Code}}">{{location.Code}}</ion-select-option>
                    </ion-select>
                  </ion-item-option>
                </ion-item-options>

                <ion-item>
                  <div class="label-lines">
                    <ion-row>
                      <ion-col size="2" class="label-line-title">
                        <img class="noImage" *ngIf="item.controls.picture.value == 'data:image/jpeg;base64,NOIMAGE'" src="../../../../assets/img/NOIMAGE.svg" />
                        <img *ngIf="item.controls.picture.value != 'data:image/jpeg;base64,NOIMAGE'" src="{{item.controls.picture.value}}" />
                      </ion-col>
                      <ion-col size="10">
                        <ion-row>
                          <ion-col size="7" style="overflow: hidden;" class="label-line-title blue">
                            {{item.controls.title.value}}
                          </ion-col>
                          <ion-col size="5" class="label-line-title" style="text-align: right;">
                            Total ${{item.controls.total.value}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="4" class="label-line">
                            Item No: {{item.controls.id.value}}
                          </ion-col>
                          <ion-col size="4" class="label-line">
                            <ion-row>
                              <ion-col size="5" style="padding: 0;">
                                Disc %
                              </ion-col>
                              <ion-col size="7" style="padding: 0;">
                                <ion-input *ngIf="new || edit" style="height: 14px; border-bottom: 1px solid rgba(85, 85, 105, 0.5);" 
                                  type="number" formControlName="lineDiscountPercentage" (ionChange)="onChangeDiscount($event, i)"></ion-input>
                                <ion-input *ngIf="!new && !edit" style="height: 14px;" 
                                  type="number" formControlName="lineDiscountPercentage" (ionChange)="onChangeDiscount($event, i)" readonly></ion-input>
                              </ion-col>
                            </ion-row>
                            <!-- Disc %: {{item.controls.lineDiscountPercentage.value}} -->
                          </ion-col>
                          <ion-col size="4" class="label-line">
                            Measure: {{item.controls.unitOfMeasureCode.value}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="4" class="label-line">
                            Quantity: {{item.controls.quantity.value}}
                          </ion-col>
                          <ion-col class="label-line" size="5">
                            <ion-row>
                              <ion-col size="5" style="padding: 0;">U.Price</ion-col>
                              <ion-col size="7" style="padding: 0;">
                                <ion-input *ngIf="new || edit" style="height: 14px; border-bottom: 1px solid rgba(85, 85, 105, 0.5);" 
                                  type="number" formControlName="unitPrice" (ionChange)="onChangePrice($event, i)"></ion-input>
                                <ion-input *ngIf="!new && !edit" style="height: 14px;" type="number" formControlName="unitPrice" readonly></ion-input>
                              </ion-col>
                            </ion-row>
                            <!-- Unit price: ${{item.controls.unitPrice.value}} -->
                          </ion-col>
                          <ion-col class="label-line" size="3">
                            Tax: {{item.controls.taxPerc.value}}%
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>                    
                  </div>
                </ion-item>

                <ion-item-options side="end" *ngIf="new || edit">
                  <ion-item-option color="plureBlue" class="select-floating">
                    <ion-label>Unit of measure</ion-label>
                    <ion-select style="width: 150px;" (ionChange)="ionMeasure(i)" formControlName="unitOfMeasureCode">
                      <ion-select-option *ngFor="let measure of unitMeasureList[i]">{{measure.id}}</ion-select-option>
                    </ion-select>
                  </ion-item-option>
                  <ion-item-option class="item-lines" color="plureHeader">
                    <ion-button color="plureHeader" class="btn-decrement" (click)="onIncDec(i, 0)">-</ion-button>
                    <ion-input color="plureHeader" 
                      style="color: #000 !important; width: 44px !important;" 
                      formControlName="quantity"
                      (focusout)="onQuantity(i)"
                      type="number"></ion-input>
                    <ion-button color="plureHeader" class="btn-increment" (click)="onIncDec(i, 1)">+</ion-button>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </div>
          </ion-list>
        </div>
      </div>
    </div>

    <div class="accorn accornSubTotal">
      <div class="box-sh">
        <ion-row>
          <ion-col size="6">
            <ion-label>Subtotal</ion-label>
          </ion-col>
          <ion-col size="6" style="text-align: right;">${{subTotal}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label>Tax</ion-label>
          </ion-col>
          <ion-col size="6" style="text-align: right;">${{taxTotal}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label>Discount</ion-label>
          </ion-col>
          <ion-col size="6" style="text-align: right;">${{discountTotal}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label>Total</ion-label>
          </ion-col>
          <ion-col size="6" style="text-align: right;">${{total}}</ion-col>
        </ion-row>
      </div>
    </div>

    <div class="accorn accorn-fields-dynamics" style="display: none;">
      <div class="accorn-title">
        Fields
      </div>
      <div class="accorn-body">

        <div *ngFor="let field of fields">

          <ion-grid>
            <ion-row>
              <ion-col *ngIf="!field.system && field.type != 'date'">
                <ion-item>
                  <ion-label position="floating">{{field.name}}</ion-label>
                  <ion-input [max]="field.length" [type]="field.type" [formControlName]="field.id"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="!field.system && field.type == 'date'">
                <ion-item>
                  <ion-label position="floating">{{field.name}}</ion-label>
                  <ion-datetime [formControlName]="field.id" placeholder="Select your date" display-format="MM/DD/YYYY"
                    pickerFormat="MM DD YYYY"></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>

      </div>
    </div>

  </form>

</ion-content>

<!-- <ion-toolbar color="plureMain" *ngIf="new || edit">
  <ion-buttons slot="primary">
    <ion-button (click)="onItem()" *ngIf="new || edit">
      <img src="../../../../assets/img/modules/add-lines.svg" />
    </ion-button>
    <ion-button (click)="onSubmit()" *ngIf="new || edit">
      <img src="../../../../assets/img/modules/save.svg" />
    </ion-button>
    <ion-button (click)="onBarCode()" *ngIf="new || edit">
      <img src="../../../../assets/img/modules/bar-code-line.svg" />
    </ion-button>
  </ion-buttons>
</ion-toolbar> -->

<PlureVersion showVersion="0" *ngIf="new || edit">
  <ion-row>
    <ion-col size="4" (click)="onItem()">
      <img src="../../../../assets/img/add.svg" />
      <div>Add</div>
    </ion-col>
    <ion-col size="4" (click)="onBarCode()">
      <img src="../../../../assets/img/bar-code.svg" />
      <div>Bar code</div>
      <hr />
    </ion-col>
    <ion-col size="4" (click)="onSubmit()">
      <img src="../../../../assets/img/save.svg" />
      <div>Save</div>
    </ion-col>
  </ion-row>
</PlureVersion>