<ion-header>
  <ion-toolbar color="plureMain">
    <ion-buttons slot="start">
      <!-- <ion-back-button class="ion-toolbar-button" (click)="onBack()" defaultHref="undefined"></ion-back-button> -->
      <ion-button (click)="onBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="new">New - {{process.description}}</ion-title>
    <ion-title *ngIf="!new">{{process.description}} - {{idSales}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="frm" (ngSubmit)="onSubmit()">

    <div class="designform-header">
      <ion-row>
        <ion-col *ngIf="new" (click)="onCustomer()">
          <ion-label class="customerName" *ngIf="frm.controls.customerNo.value == ''">____________</ion-label>
          <ion-label class="customerName" *ngIf="frm.controls.customerNo.value != ''">{{frm.controls.customerName.value}}</ion-label>
        </ion-col>
        <ion-col *ngIf="!new">
          <ion-label class="customerName">{{frm.controls.customerName.value}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="customerNo">
        <ion-col>
          <ion-label class="smallfont">Customer No {{frm.controls.customerNo.value}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="shipTop" *ngIf="!hideShipTo">
        <ion-col (click)="onShipAddress()" *ngIf="new || edit" size="11">
          <div class="icon-header">
            <img src="../../../../assets/img/modules/sales/ship-to-address.svg" width="100%" />
          </div>
          <div class="text-header">
            <ion-label class="smallfont">Ship-to: </ion-label>
            <ion-label class="smallfont" *ngIf="frm.controls.shippingNo.value != ''">{{frm.controls.shippingNo.value}} - {{frm.controls.shippingName.value}}</ion-label>
          </div>
        </ion-col>
        <ion-col *ngIf="!new && !edit" size="11">
          <div class="icon-header">
            <img src="../../../../assets/img/modules/sales/ship-to-address.svg" width="100%" />
          </div>
          <div class="text-header">
            <ion-label class="smallfont">Ship-to: </ion-label>
            <ion-label class="smallfont">{{frm.controls.shippingNo.value}} - {{frm.controls.shippingName.value}}</ion-label>
          </div>
        </ion-col>
        <ion-col size="1" *ngIf="new || edit" class="edit-header">
          <img src="../../../../assets/img/modules/sales/edit.svg" width="70%" />
        </ion-col>
      </ion-row>
      <hr *ngIf="!hideShipTo" />
      <ion-row class="orderDate" (click)="onDate(0)">
        <ion-col size="11">
          <div class="icon-header">
            <img src="../../../../assets/img/modules/sales/order-date.svg" width="100%" />
          </div>
          <div class="text-header lines">
            <ion-label class="smallfont">Order date: </ion-label>
            <ion-label class="smallfont">{{ frm.controls.orderDate.value | date: 'MM/dd/yyyy' }}</ion-label>
          </div>
        </ion-col>
        <ion-col size="1" *ngIf="new || edit" class="edit-header">
          <img src="../../../../assets/img/modules/sales/edit.svg" width="70%" />
        </ion-col>
      </ion-row>
      <hr *ngIf="!hideShipTo" />
      <ion-row class="delivery" (click)="onDate(1)" *ngIf="!hideShipTo">
        <ion-col size="11" >
          <div class="icon-header">
            <img src="../../../../assets/img/modules/sales/delivery-date.svg" width="100%" />
          </div>
          <div class="text-header">
            <ion-label class="smallfont">Delivery date: </ion-label>
            <ion-label class="smallfont">{{ frm.controls.requestedDeliveryDate.value | date: 'MM/dd/yyyy' }}</ion-label>
          </div>
        </ion-col>
        <ion-col size="1" *ngIf="new || edit" class="edit-header">
          <img src="../../../../assets/img/modules/sales/edit.svg" width="70%" />
        </ion-col>
      </ion-row>
      <ion-row class="total-for-pay">
        <ion-col>
          <ion-label>${{total}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="display: none;">
        <ion-col>
          <ion-datetime #dateOrder class="smallfont" formControlName="orderDate" display-format="MM/DD/YYYY" pickerFormat="MM DD YYYY"></ion-datetime>
          <ion-datetime #dateDelivery class="smallfont" formControlName="requestedDeliveryDate" display-format="MM/DD/YYYY" pickerFormat="MM DD YYYY"></ion-datetime>
        </ion-col>
      </ion-row>
    </div>

    <div class="accorn">
      <div class="order-details">
        <ion-row>
          <ion-col size="3" class="txt">
            <ion-label>Lines</ion-label>
          </ion-col>
          <!-- <ion-col *ngIf="new || edit">
            <ion-button class="add-lines" color="plure" (click)="onItem()" type="button">+</ion-button>
          </ion-col> -->
        </ion-row>
      </div>
      <div  class="accorn-body">
        <div formArrayName="lines" class="lines">
          <!-- <ion-list *ngFor="let item of frm.get('lines')['controls']; let i=index"> -->
          <ion-list *ngFor="let item of frm.get('lines')['controls']; let i=index">
            <div [formGroupName]="i" *ngIf="item.controls.title.value != ''">
              
              <ion-item-sliding>
                <ion-item-options *ngIf="new || edit" side="start">
                  <ion-item-option color="danger" (click)="onDeleteLine(i)" style="padding: 0 50px;">Delete</ion-item-option>
                </ion-item-options>

                <ion-item>
                  <ion-label class="label-lines">
                    <ion-row>
                      <ion-col size="2" class="label-line-title">
                        <img *ngIf="item.controls.picture.value == 'data:image/jpeg;base64,NOIMAGE'" src="../../../../assets/img/NOIMAGE.jpg" />
                        <img *ngIf="item.controls.picture.value != 'data:image/jpeg;base64,NOIMAGE'" src="{{item.controls.picture.value}}" />
                      </ion-col>
                      <ion-col size="10">
                        <ion-row>
                          <ion-col size="7" style="overflow: hidden;" class="label-line-title">
                            {{item.controls.title.value}}
                          </ion-col>
                          <ion-col size="5" class="label-line-title" style="text-align: right;">
                            Total ${{item.controls.total.value}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="4" class="label-line">
                            Item No: {{item.controls.id.value}}
                          </ion-col>
                          <ion-col size="3" class="label-line">
                            Disc: {{item.controls.lineDiscountPercentage.value}}%
                          </ion-col>
                          <ion-col size="5" class="label-line">
                            Measure: {{item.controls.unitOfMeasureCode.value}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="4" class="label-line">
                            Quantity: {{item.controls.quantity.value}}
                          </ion-col>
                          <ion-col class="label-line">
                            Unit price: ${{item.controls.unitPrice.value}}
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>                    
                  </ion-label>
                </ion-item>

                <ion-item-options side="end" *ngIf="new || edit">
                  <ion-item-option color="danger">
                    <ion-select style="width: 150px;" (ionChange)="ionMeasure(i)" formControlName="unitOfMeasureCode">
                      <ion-select-option *ngFor="let measure of unitMeasureList[i]">{{measure.id}}</ion-select-option>
                    </ion-select>
                  </ion-item-option>
                  <ion-item-option class="item-lines" color="plureBlack">
                    <ion-button color="plureGrey" class="btn-decrement" (click)="onIncDec(i, 0)">-</ion-button>
                    <ion-input color="plureBlack" 
                      style="color: #ffffff !important; width: 44px !important;" 
                      formControlName="quantity"
                      (focusout)="onQuantity(i)"
                      type="number"></ion-input>
                    <ion-button color="plureGrey" class="btn-increment" (click)="onIncDec(i, 1)">+</ion-button>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </div>
          </ion-list>
        </div>
      </div>
    </div>

    <div class="accorn">
      <ion-row>
        <ion-col size="6"></ion-col>
        <ion-col size="2">
          <ion-label>Subtotal</ion-label>
        </ion-col>
        <ion-col size="3" style="text-align: right;">${{subTotal}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"></ion-col>
        <ion-col size="2">
          <ion-label>Tax</ion-label>
        </ion-col>
        <ion-col size="3" style="text-align: right;">${{taxTotal}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"></ion-col>
        <ion-col size="2">
          <ion-label>Discount</ion-label>
        </ion-col>
        <ion-col size="3" style="text-align: right;">${{discountTotal}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"></ion-col>
        <ion-col size="2">
          <ion-label>Total</ion-label>
        </ion-col>
        <ion-col size="3" style="text-align: right;">${{total}}</ion-col>
      </ion-row>
    </div>

    <div class="accorn accorn-fields-dynamics" style="display: none;">
      <div class="accorn-title">
        Fields
      </div>
      <div class="accorn-body">

        <div *ngFor="let field of fields">

          <ion-grid>
            <ion-row>
              <ion-col *ngIf="!field.system && field.type != 'date'">
                <ion-item>
                  <ion-label position="floating">{{field.name}}</ion-label>
                  <ion-input [max]="field.length" [type]="field.type" [formControlName]="field.id"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="!field.system && field.type == 'date'">
                <ion-item>
                  <ion-label position="floating">{{field.name}}</ion-label>
                  <ion-datetime [formControlName]="field.id" placeholder="Select your date" display-format="MM/DD/YYYY"
                    pickerFormat="MM DD YYYY"></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>

      </div>
    </div>

    <!-- <ion-row *ngIf="new || edit">
      <ion-col>
        <ion-button type="submit" color="light" class="btn-submit">
          Submit
        </ion-button>
      </ion-col>
    </ion-row> -->

  </form>

</ion-content>

<ion-toolbar color="plureMain" *ngIf="new || edit">
  <ion-buttons slot="primary">
    <ion-button (click)="onItem()" *ngIf="new || edit">
      <img src="../../../../assets/img/modules/add-lines.svg" />
    </ion-button>
    <ion-button (click)="onSubmit()" *ngIf="new || edit">
      <img src="../../../../assets/img/modules/save.svg" />
    </ion-button>
    <ion-button (click)="onBarCode()" *ngIf="new || edit">
      <img src="../../../../assets/img/modules/bar-code-line.svg" />
    </ion-button>
  </ion-buttons>
</ion-toolbar>
