<PlureHeader type="1" title="Physical Count" url="page/wms/physicalInventory" notify="0"></PlureHeader>

<ion-content>
  <form>
    <div class="designform-header">

      <ion-row size="12">
        <ion-col size="6">
          <ion-label>Quantity: {{quantity}} </ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Batch: {{batch}} </ion-label>
        </ion-col>
       
      </ion-row>

      <ion-row class="delivery newColor2">
        <ion-col size="10">
          <ion-searchbar [(ngModel)]="data" [ngModelOptions]="{standalone: true}" (ionInput)="onFilter($event)"
            show-clear-button="always" clear-icon="close-outline" placeholder="Filter"></ion-searchbar>
        </ion-col>
        <ion-col size="2" class="barcodebtn">
          <ion-icon size="large" name="barcode-outline" (click)="autoComplet()"></ion-icon>
        </ion-col>
      </ion-row>

    </div>

    <div class="accorn">
      <div class="accorn-body">
        <div class="lines">

          <ion-list>
            <div>

              <ion-item>
                <div class="label-lines" part="item-width">
                  <ion-row *ngFor="let item of obj">

                    <!-- <ion-item-sliding> -->

                      <ion-item style="width: 100%;">
                        <ion-col size="12" class="item" (click)="show(item)">

                          <ion-row class="titleslist">
                            
                            <ion-col size="12" class="titleblue LPNo" *ngIf="item.PLULicensePlates !== null">
                               {{item.PLULicensePlates}}
                            </ion-col>
                            <ion-col size="12" class="titleblue LPNo" *ngIf="item.PLULicensePlates === null">
                               {{item.ItemNo}}
                            </ion-col>
                          </ion-row>

                          <ion-row size="12" class="subtitlelist">
                            <ion-col size="5" class="label-line-title">
                              Qty. Calculated: {{item.QtyCalculated}}
                            </ion-col>
                            <ion-col size="3" class="label-line-title">
                              Qty. P.I: 
                            </ion-col>
                            <ion-col size="4" class="label-line-title">
                              {{item.QtyPhysInventory}}
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="5" class="titleblue">
                              Item No: <b>{{item.ItemNo}}</b>
                            </ion-col>
                            <ion-col size="3.5" class="titleblue">
                              UoM: <b>{{item.UnitofMeasureCode}}</b>
                            </ion-col>
                            <ion-col size="3.5" class="titleblue">
                              BIN: <b>{{item.BinCode}}</b>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="5" class="label-line" *ngIf="item.seriales.lenght === 1 && item.SerialNo != null">
                              Serial: <b>{{item.SerialNo}}</b>
                            </ion-col>
                            <ion-col size="7" class="label-line" *ngIf="item.seriales.lenght === 1 && item.LotNo != null">
                              Lot No: <b>{{item.LotNo}}</b>
                            </ion-col>
                          </ion-row>

                        </ion-col>

                      </ion-item>

                      <!-- <ion-item-options>
                        <ion-item-option color="danger" (click)="remove(item)">
                          <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                      </ion-item-options>

                    </ion-item-sliding> -->
                  </ion-row>

                </div>

              </ion-item>

            </div>
          </ion-list>
        </div>
      </div>
    </div>
  </form>


</ion-content>


