<!--ion-header class="ion-no-border">
  <ion-toolbar>    
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true" >
  <div class="login">  
    <form [formGroup]="frm" (ngSubmit)="onSubmit()">
      <ion-grid class="ion-no-padding">            
        <ion-row>
          <ion-col size="12">
            <div class="plure-brand">
              <div class="plure-brand-logo" (click)="onChangeInstance()">
                <img src="../../../../assets/img/plure-logo.svg" alt="">
              </div>
              <div class="plure-brand-tittle">
                <h1>Microsoft Business Central</h1>
              </div>
            </div>
          </ion-col>
          <ion-col size="12" >            
            <div class="space-blank"></div>
          </ion-col>
          <ion-col size="12">          
            <ion-label class="plure-label"><p>User Name</p></ion-label>          
            <ion-item class="plure-input" lines="none" detail="false">            
              <ion-input type="email" placeholder="Enter your user name" formControlName="User" (ionBlur)="onChangeUser($event)"></ion-input>              
              <ion-icon slot="end" name="at" color="light"></ion-icon>
            </ion-item>
          </ion-col>  
          <ion-col size="12">                      
            <ion-label class="plure-label"><p>Password</p></ion-label>          
            <ion-item  class="plure-input" lines="none" detail="false">            
              <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="Password" placeholder="Enter your password"></ion-input>              
              <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()" color="light"></ion-icon>           
            </ion-item>
          </ion-col>                 
          <ion-col size="12">
            <ion-label class="plure-label"><p>Environment</p></ion-label>          
            <ion-item class="plure-input" lines="none">            
              <ion-select interface="action-sheet" formControlName="EnviromentId" placeholder="Select environment">
                <ion-select-option *ngFor="let item of environments" value="{{item.environmentId}}">{{item.description}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>        
          <ion-col size="12">
            <div class="center">
              <ion-button type="submit" class="plure-button" color="plureMain" shape="round" [disabled]="!frm.valid">
                Login
              </ion-button>
            </div>  
          </ion-col>          

          <ion-col size="12"> 
            <ion-fab horizontal="end"></ion-fab>           
          </ion-col>
          <ion-col size="12">
            <div class="plure-footer">
              <div class="plure-or">
                <div class="plure-or2">OR</div>
              </div>
              <div class="plure-new-account">
                <a href="https://www.plur-e.com/dynamics-365-business-central/">
                  <ion-button type="button" color="plureMain" class="plure-button" shape="round">
                    Create new user
                  </ion-button>

               
                </a>
                <div>
                  To create an account go to <a href="https://www.plur-e.com/dynamics-365-business-central/">www.plur-e.com</a>
                </div>
              </div>
              <div class="plure-footer-hp">
                <a href="http://">www.plur-e.com</a>
                <br>
                <span>{{version}}</span>
              </div>
            </div>
          </ion-col>

          <!-- <ion-col size="12">
            <div class="plure-footer">  
              <div>
                <span>Forgot your <a href="http://">password?</a></span>
              </div>
              <div class="plure-footer-hp">
                <a href="http://">www.plur-e.com</a>
                <br>
                <span>{{version}}</span>
              </div>
            </div>
          </ion-col>           -->
        </ion-row>     
      </ion-grid>
    </form>
  </div>   
</ion-content>