@import "~src/sass/popover-wms";


ion-list {


    --ion-grid-column-padding: 0.8px;
    border-collapse: collapse;
    border-style: hidden;

     
    ion-col {
      // border: 1px solid black;
      border-bottom: 0;
      // border-right: 5%;
      font-weight: 600;
   
   
    }
  

  }
  
  .content{

    overflow-y: scroll;
    height: 20vh !important;
}

.row{
  color: var(--ion-color-plureBlue);
}
