ion-row.header {
    background: linear-gradient(to top, #5CABF9, #1A518E) !important;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 0 0 70% 0;
}

.itemfooter{
    color: #F2F2F2 !important;
}

ion-list {

    overflow: auto;
    width: 100%;
   // overflow-y: auto;
  
  
    --ion-grid-column-padding: 0.8px;
    border-collapse: collapse;
    border-style: hidden;
   // height: auto !important;
    
  
  
  
  
   
    ion-row{
  
      width: 100%;
     
    }
   
    
   
    ion-col {
      // border: 1px solid black;
      border-bottom: 0;
      // border-right: 5%;
      font-weight: 600;
   
   
    }
  
  
    .col{
  
      width: 100px;
      
  
    }
  }
  
  
  .row{
  
    
      background: var(--ion-color-plureheader);
      font-weight: bold;
      color: var(--ion-color-plureBlue);
  
      ion-col {
        // border: 1px solid black;
        border-bottom: 0;
        border-right: 0;
        
     
     
      }
  
  }
  

  .icon{

    font-size: 18px;
  }