@import "~src/sass/wms";



.thebinselect {
    max-width: 100%;
    --placeholder-opacity: 1;
    font-size: 14px;
}




.buttonscan{
    display: flex;
    justify-content: center;
    padding-top: 2px;
}