@import "~src/sass/wms";
@import "~src/sass/popover-wms";


    ion-col.TitleHeader {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: bold;
        color: var(--ion-color-plureBlue);
        padding-top: 1rem;
    }


    ion-grid {



        text-align: center;
        width: 100%;
        height: 40%;


        ion-row.delivery {


            overflow: auto;
        }


        color: var(--ion-color-secondary-contrast);


        .div {

            overflow: auto;
        }


        ion-row.ContentTable {
            background: rgba(92, 171, 249, 0.08);
            margin: 1px 0 0;
            color: var(--ion-color-plureMain);

        }

    }



.border {

    border-bottom: 1px solid gray;
}


ion-row.newColorCheck {
    background: linear-gradient(to top, var(--ion-color-primary), var(--ion-color-primary-background)) !important;
    margin: 5px 0 0;
    font-weight: bold;
}

.footernewpallet,
.footernewpallettabs {
    height: 60px;
    background: linear-gradient(to bottom,var(--ion-color-primary), var(--ion-color-primary-background));
    border-radius: 7% 7% 0% 0%;
    box-shadow: 0px -5px 18px var(--ion-color-primary-constrast-box-shadow);
}

.footernewpallettabs {
    --background: linear-gradient(to bottom, var(--ion-color-primary), var(--ion-color-primary-background)) !important;
    --border: 0px !important;
}



ion-checkbox {
    --border-radius: 50%;
}

ion-fab-button[data-desc2] {
    position: relative;
}

ion-fab-button[data-desc2]::after {
    position: absolute;
    content: attr(data-desc2);
    z-index: 1;
    right: 50px;
    bottom: 7px;
    color: var(--ion-color-contrast, #fff);
    background-color: var(--ion-color-base, #fff);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px -1px rgba(var(--ion-color-plureBlack-rgb-button-shadow1)), 0 6px 10px 0 rgba(var(--ion-color-plureBlack-rgb-button-shadow2)), 0 1px 18px 0 rgba(var(--ion-color-plureBlack-rgb-button-shadow3));
}

.itemfooterSave{

    color: var(--ion-color-plureWhite-icon);

}