<ion-header>
  <ion-toolbar color="plureMain">
    <ion-buttons slot="start">
      <ion-menu-button class="ion-toolbar-button"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">Modules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="icon-grid">
    <ion-col>
      <ion-icon name="list-outline" (click)="onGrid(false)" *ngIf="grid"></ion-icon>
      <ion-icon name="grid-outline" (click)="onGrid(true)" *ngIf="!grid"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-list class="list" *ngIf="!grid">
    <ion-row (click)="onSales()">
      <ion-col size="4" class="img">
        <img src="../../../../assets/img/modules/sales.svg" />
      </ion-col>
      <ion-col class="txt">
        Sales
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="img">
        <img src="../../../../assets/img/modules/purchase.svg" />
      </ion-col>
      <ion-col class="txt">
        Purchase Order
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="img">
        <img src="../../../../assets/img/modules/manufacturing.svg" />
      </ion-col>
      <ion-col class="txt">
        Manufacturing
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="img">
        <img src="../../../../assets/img/modules/wms.svg" />
      </ion-col>
      <ion-col class="txt">
        WMS
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-list class="grid" *ngIf="grid">
    <ion-row>
      <ion-col size="6" class="img">
        <div class="icon">
          <ion-row>
            <ion-col class="title" size="12">Sales</ion-col>
            <ion-col size="12"><img src="../../../../assets/img/modules/sales.svg" /></ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="6" class="img">
        <div class="icon">
          <ion-row>
            <ion-col class="title" size="12">Purchase Order</ion-col>
            <ion-col size="12"><img src="../../../../assets/img/modules/purchase.svg" /></ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="img">
        <div class="icon">
          <ion-row>
            <ion-col class="title" size="12">Manufacturing</ion-col>
            <ion-col size="12"><img src="../../../../assets/img/modules/manufacturing.svg" /></ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="6" class="img">
        <div class="icon">
          <ion-row>
            <ion-col class="title" size="12">WMS</ion-col>
            <ion-col size="12"><img src="../../../../assets/img/modules/wms.svg" /></ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>

</ion-content>