ion-list.list {
    padding: 0 15px;
    background: transparent;
    ion-row {
        background: rgb(var(--ion-color-plure-content-rgb));
        border-radius: 23px;
        box-shadow: 0px 1px 4px rgb(0 0 0 / 9%);
        color: var(--ion-color-plureMain);
        font-size: 16px;
        height: 50px;
        margin: 20px 0;
        padding: 10px;
        position: relative;
        font-weight: bold;
        ion-col.list-txt-bold {
            font-size: 14px;
            font-family: SourceSansProBold;
        }
    }
    ion-row.after:after {
        // background: var(--ion-color-plureHeader);
        content: "";
        height: 0.5px;
        margin-left: -45%;
        margin-top: 57px;
        left: 50%;
        position: absolute;
        top: 0;
        width: 90%;
    }
    ion-row.before:after {
        // background: var(--ion-color-plureHeader);
        content: "";
        height: 0.5px;
        margin-left: -45%;
        margin-top: -10px;
        left: 50%;
        position: absolute;
        top: 0;
        width: 90%;
    }
    ion-row.posted {
        ion-col {
            ion-icon {
                font-size: 20px;
                color: var(--ion-color-plureBlue);
                margin-left: -4px;
            }
            ion-label {
                margin-top: -22px;
                display: block;
                margin-left: 24px;
            }
        }
    }
}

.avatar-txt{
    font-weight: bold;
    text-transform: capitalize;
}

ion-content{
    --background: linear-gradient(to bottom, rgb(var(--ion-color-plure-ion-content-background-rgb)), #ffff) !important;
}