.rowtable {
    width: 100%;
  }

  .dataitem{
    font-size: 14px;
    background-color: rgba(21, 73, 131, 0.2);
    border-radius: 23px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize !important;
  }

  ion-row{

    padding-bottom: 5px;
  }