<ion-content class="ion-margin">

  <ion-row class="header">
    <ion-col size="1" (click)="close()">
      <ion-icon class="itemfooter" name="close-outline"></ion-icon>
    </ion-col>
    <ion-col class="title" size="11">
      Serial List
    </ion-col>
  </ion-row>

  <ion-grid>

    <ion-row style="text-align: center;" class="row">
      <ion-col size="3">Serial No</ion-col>
      <ion-col size="3">Lot No</ion-col>
      <ion-col size="4">Exp Date</ion-col>
      <ion-col size="2">Qty</ion-col>

    </ion-row>

    <div id="taula">
      <ion-row *ngFor="let item of list; let i = index" style="text-align: center;">

        <ion-item-sliding>

          <ion-item>
            <ion-col class="itemlist" size="3" *ngIf="item.proceded === false">{{item.SerialNo}}</ion-col>
            <ion-col class="itemlist" size="3" *ngIf="item.proceded === true"
              (click)="opcions(item,i)"><a>{{item.SerialNo}}</a></ion-col>
            <ion-col class="itemlist" size="3">{{item.LotNo}}</ion-col>
            <ion-col class="itemlist" size="4">{{item.ExperationDate}}</ion-col>
            <ion-col class="itemlist" size="2">{{item.Qty}}</ion-col>
          </ion-item>
            <ion-item-options *ngIf="item.proceded === false"  (click)="delete(i)">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>


      </ion-row>

    </div>
  </ion-grid>

</ion-content>