@import "~src/sass/popover-wms";


.content {

    overflow-y: scroll;
    height: 40vh !important;

  ion-row {

    width: 100%;

  }



  ion-col {
    // border: 1px solid black;
    border-bottom: 0;
    // border-right: 5%;
    font-weight: 600;


  }


}


