<PlureHeader type="1" title="Payments" url="page/payments/paymentMain" notify="1"></PlureHeader>

<ion-content>
  <ion-col size="12">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item class="item-native-plure">
            <div class="search-all">
              <div class="icon">
                <ion-icon name="search-outline"></ion-icon>
              </div>
              <div class="input">
                <ion-input (ionInput)="onChange($event)" placeholder="Search"></ion-input>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>
  <ion-list>
    <ion-row *ngFor="let item of filterPosted">
      <ion-item-sliding>
        <ion-item>
          <ion-row>
            <ion-col size="6">
              <ion-label class="fieldNo">
                {{item.fields.No}}
              </ion-label>
              <ion-label>
                Customer No: {{item.fields.BilltoCustomerNo}}
              </ion-label>
              <ion-label>
                {{item.fields.DueDate}}
              </ion-label>
            </ion-col>
            <ion-col size="6" class="fieldRight">
              <ion-label>&nbsp;</ion-label>
              <ion-label class="fieldAmount">${{item.fields.Total}}</ion-label>
              <ion-label>{{item.fields.BilltoName}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item-options side="end" *ngIf="item.parameters == undefined">
          <!-- <ion-item-option color="plureBlue" (click)="onPaid(item)" style="padding: 0 20px;">Paid</ion-item-option> -->
        </ion-item-options>
      </ion-item-sliding>
    </ion-row>
  </ion-list>

</ion-content>

<PlureVersion showVersion="1"></PlureVersion>