<ion-split-pane contentId="menu-content">
  <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
    <ion-content class="main">
      <div class="main-menu">
        <div class="main-menu-header">
          <ion-avatar>
            <img src="{{avatar}}" width="30px"/>
          </ion-avatar>
          <ion-label>
            <div class="menuInfo">
              <h1>{{userSession.userName}}</h1>
              <p>Company Name: {{selectedCompany.companyName}}</p>
            </div>
          </ion-label>
        </div>
        <div class="main-menu-content">
          <ion-list>
            <ion-menu-toggle auto-hide="true" >
              <ion-item *ngFor="let mi of menuContent" lines="none" detail="false" (click)="onClick(mi.action)" class="ion-no-padding">
                <div class="main-menu-item">
                  <div class="main-menu-item-icon" >
                    <div *ngIf="mi.iconName !== ''" class="icon-outline">
                      <ion-icon name="{{mi.iconName}}"></ion-icon>
                    </div>
                    <img *ngIf="mi.iconName === ''" src="{{mi.iconPath}}" alt="">
                  </div>
                  <div class="main-menu-item-title">
                    <h1>{{ mi.description }}</h1>
                  </div>

                </div>
              </ion-item>


            </ion-menu-toggle>
          </ion-list>

          <p class="idmail">{{userSession.email}}<br>
          Id: {{selectedCompany.companyId}}</p>

        </div>
      </div>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-text>
        <PlureVersion showVersion="1"></PlureVersion>
      </ion-text>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="menu-content" main></ion-router-outlet>
</ion-split-pane>