<PlureHeader type="1" title="Change Company" url="module" notify="1"></PlureHeader>
<ion-content fullscreen>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header>
      Selected Company
    </ion-list-header>

    <ion-item>
        <img src="../../../../assets/img/modules/companies.svg" slot="start">
      <ion-label>
        <h2>{{selectedCompany.companyName}}</h2>
        <h3>id: {{selectedCompany.companyId}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header>
      Other Companies
    </ion-list-header>

    <ion-item *ngFor="let oc of otherCompanies">
      <img src="../../../../assets/img/modules/companies.svg" slot="start">
      <ion-label>
        <h2>{{oc.companyName}}</h2>
        <h3>id: {{oc.companyId}}</h3>
      </ion-label>
      <ion-button (click)="onChangeCompany(oc)">
        <img src="../../../../assets/img/modules/changecompany.svg" />
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<PlureVersion showVersion="0">
  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col size="4" (click)="onSyncCompanies()">
      <img src="../../../../assets/img/sync.svg" /> <br />
      <div>Sync</div>
      <hr />
    </ion-col>
  </ion-row>
</PlureVersion>