

<PlureHeader type="1" title="License Plate - Pallet "  url="page/wms/wmsMain" notify="0"></PlureHeader>

    <div class="docnumber">
     <p> Document No: {{pallet.fields[0].PLULPDocumentNo}}    </p>
    </div>

<ion-content >

  <ion-row class="header" style="text-align: center;">
    <ion-col class="TitleHeader">
      <ion-label> License Plates - Single </ion-label>
    </ion-col>
  </ion-row><br>

  <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>

<ion-grid>
  <ion-radio-group>
  <ion-row class=" newColor" >
    <ion-radio value="selectall"></ion-radio>
    <ion-col size="3">
      <div style="font-family: Arial, Helvetica, sans-serif;">LP No</div>
    </ion-col>
    <ion-col size="4">
      <div style="font-family: Arial, Helvetica, sans-serif;">Qty</div>
    </ion-col>
    <ion-col size="4">
      <div style="font-family: Arial, Helvetica, sans-serif;">UoM</div>
    </ion-col>
  </ion-row>


  <ion-row class=" delivery ContentTable" *ngFor="let item of listLp ; let i= index" (click)="opcionL(item, $event)">
    <ion-radio value="IPSingle"></ion-radio>
    <ion-col size="3">
      <div>{{item.PLUNo
      }}</div>
    </ion-col>
    <ion-col size="4">
      <div>{{item.PLUQuantity}}</div>
    </ion-col>
    <ion-col size="4">
      <div>{{item.PLUUnitofMeasureCode
      }}</div>
    </ion-col>
  </ion-row>

</ion-radio-group>
</ion-grid><br><br>


<ion-row class="header" style="text-align: center;">
  <ion-col class="TitleHeader">
    <ion-label>Items</ion-label>
  </ion-col>
</ion-row><br>


<ion-grid>
  <ion-radio-group>
  <ion-row class=" newColor" >
    <ion-radio value="selectall"></ion-radio>
    <ion-col size="3">
      <div style="font-family: Arial, Helvetica, sans-serif;">ItemNo</div>
    </ion-col>
    <ion-col size="4">
      <div style="font-family: Arial, Helvetica, sans-serif;">Qty</div>
    </ion-col>
    <ion-col size="4">
      <div style="font-family: Arial, Helvetica, sans-serif;">LineNo</div>
    </ion-col>
  </ion-row>


  <ion-row class=" delivery ContentTable" *ngFor="let item of listItem ; let i= index" (click)="opcionI(item, $event)">

   

    <ion-radio value="ITSingle"></ion-radio>
    <ion-col size="3">
      <div>{{item.PLUNo}}</div>
    </ion-col>
    <ion-col size="4" >
      <div>{{item.PLUQuantity
      }}</div>
    </ion-col>
    <ion-col size="4" >
      <div>{{item.PLUWhseLineNo
      }}</div>
    </ion-col>
 
  </ion-row>
</ion-radio-group>
</ion-grid>

</ion-content>



