<ion-header>
  <ion-toolbar color="plureHeader">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <img src="../../../assets/icon/arrow_back.svg" />
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">License plate Pallet</ion-title>
  </ion-toolbar>
</ion-header>

    <div class="docnumber" >
     <p> Document No: {{pallet.fields[0].PLULPDocumentNo}}    </p>
    </div>

    



    <ion-item  *ngIf="boolean">

      <ion-input (ionInput)="onChangeLp($event)" ></ion-input>
    </ion-item>
  

<ion-content *ngIf="boolean">

<ion-grid >
  <ion-radio-group value="listLp">
  <ion-row class=" newColor" >
    <ion-radio value="selectall"></ion-radio>
    <ion-col size="3">
      <div style="font-family: Arial, Helvetica, sans-serif;">LP No</div>
    </ion-col>
    <ion-col size="4">
      <div style="font-family: Arial, Helvetica, sans-serif;">Qty</div>
    </ion-col>
    <ion-col size="4">
      <div style="font-family: Arial, Helvetica, sans-serif;">UoM</div>
    </ion-col>
  </ion-row>


  <ion-row class=" delivery ContentTable" *ngFor="let item of listLp ; let i= index" >
    <ion-radio value="IPSingle"></ion-radio>
    <ion-col size="3">
      <div>{{item.PLUNo
      }}</div>
    </ion-col>
    <ion-col size="4">
      <div>{{item.PLUQuantity}}</div>
    </ion-col>
    <ion-col size="4">
      <div>{{item.PLUUnitofMeasureCode
      }}</div>
    </ion-col>
  </ion-row>

</ion-radio-group>
</ion-grid><br><br>


</ion-content>








  

<ion-item  *ngIf="!boolean">

  <ion-input (ionInput)="onChangeI($event)" ></ion-input>
</ion-item>


<ion-content  *ngIf="!boolean">



<ion-grid >
  <ion-radio-group>
  <ion-row class=" newColor" >
    <ion-radio value="selectall"></ion-radio>
    <ion-col size="3">
      <div style="font-family: Arial, Helvetica, sans-serif;">ItemNo</div>
    </ion-col>
    <ion-col size="4">
      <div style="font-family: Arial, Helvetica, sans-serif;">Qty</div>
    </ion-col>
    <ion-col size="4">
      <div style="font-family: Arial, Helvetica, sans-serif;">LineNo</div>
    </ion-col>
  </ion-row>


  <ion-row class=" delivery ContentTable" *ngFor="let item of listItem ; let i= index" >

   

    <ion-radio value="ITSingle"></ion-radio>
  
    <ion-col size="3" *ngIf="item.PLUQuantity > 0 ">
      <div>{{item.PLUNo}}</div>
    </ion-col>
    <ion-col size="4"  *ngIf="item.PLUQuantity > 0 ">
      <div>{{item.PLUQuantity
      }}</div>
    </ion-col>
    <ion-col size="4" *ngIf="item.PLUQuantity > 0 " >
      <div>{{item.PLUWhseLineNo
      }}</div>
    </ion-col>
 
  </ion-row>
</ion-radio-group>
</ion-grid>

</ion-content>



<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="enableLP()">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>LPS</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button (click)="enableItem()">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Items</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="scan-circle"></ion-icon>
      <ion-label>Move Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="trash"></ion-icon>
      <ion-label>Delete</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>






