ion-content {

    --background: linear-gradient(to bottom, rgb(220, 241, 255, 0.5), #ffff);

    ion-row.header {
        background: linear-gradient(to top, #5CABF9, #1A518E) !important;
        color: #ffffff;
        font-size: 15px;
        padding: 10px 15px;
        text-align: start;
        font-weight: bold;
        border-radius: 0 0 70% 0;
    }

    ion-list {
        border-bottom: 1px solid #999;
        padding: 0;

        ion-row {
            ion-col {
                ion-icon {
                    font-size: 25px;
                    color: var(--ion-color-plureBlue);
                }

                ion-label {
                    margin-top: 4px;
                    width: 100%;
                    position: absolute;
                    margin-left: 13px;
                }
            }
        }
    }
}

ion-button {
    color: white;
    --backround: var(--ion-color-plureBlue) !important;
    border-radius: 23px;
}

.qtytoreceive {
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
}

ion-input.inputqty {
    --background: rgba(92, 171, 249, 0.08);
    --color: black;
    border-radius: 23px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.calendaricon {
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-plureBlue);
    display: flex;
    align-items: center;
}

ion-datetime-button.inputqty {
    --background: rgba(92, 171, 249, 0.08);
    --color: black;
    border-radius: 23px;
}

ion-datetime {
    border-bottom: 1px solid #fff;
    padding: 3px 0 0 !important;
    text-align: center;
}

div.icon-header {
    float: left;
    padding-right: 5px;
    width: 35px;
}

div.text-header {
    float: left;
    padding-top: 3px;
}

ion-label.smallfont {
    font-size: 15px;

    .datetime-text {
        font-size: 15px;
    }
}

ion-col.edit-header {
    padding-top: 11px;
}

ion-datetime.inputqty {
    background: rgba(92, 171, 249, 0.08);
    color: black;
    border-radius: 23px;
    height: 40px;
    display: flex;
    align-items: center;
}

.qtyhandle {
    padding-bottom: 10px;
}
