<ng-container>
  <ion-content>
    <form [formGroup]="frm" (ngSubmit)="onSubmit()">
      <ion-row class="header">
        <ion-col size="5">
          <b>Item No:</b> {{item.ItemNo}}
        </ion-col>
        <ion-col size="5">
          <b>UoM:</b> {{item.UnitofMeasureCode}}
        </ion-col>
          <ion-icon class="itemfooter" name="help-circle-outline" (click)="popoverConfigCode()"></ion-icon>
        <ion-col size="12">
          <b>Pending to Receive:</b> {{lp.LP_Pending_To_Receive}}
        </ion-col>
        <ion-col size="12">
          <b>Traking Code:</b> {{item.trakingCode}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="clipboardcol" size="6" (click)="view()">
          <a>View all</a>&nbsp;<ion-icon class="clipboardicon" name="document-text-outline"></ion-icon>
        </ion-col>
        <ion-col size="6" class="clipboardcol" (click)="save()">
          <a>Receive Item</a>&nbsp;<ion-icon class="clipboardicon" name="save-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="qtytoreceive">
        <ion-col size="6">
          <b>Qty to Receive:</b>
        </ion-col>
        <ion-col size="6">
          <ion-input class="inputqty" type="number" readonly formControlName="TotalToReceive" value="0"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="qtytoreceive" *ngIf="serial">
        <ion-col size="4">
          <b>Serial No:</b>
        </ion-col>
        <ion-col size="2" (click)="scanSN()">
          <ion-icon class="codebaricon" name="barcode-outline"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <ion-input class="inputqty" formControlName="SerialNo" placeholder="ej: SN-001" ></ion-input>
        </ion-col>
       
      </ion-row>
      <ion-row class="qtytoreceive" *ngIf="lot">
        <ion-col size="4">
          <b>Lot No:</b>
        </ion-col>
        <ion-col size="2" (click)="scanLOT()">
          <ion-icon class="codebaricon" name="barcode-outline"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <ion-input class="inputqty" formControlName="LotNo" placeholder="ej: LOT-001"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="qtytoreceive" *ngIf="exp">
        <ion-col size="6">
          <b>Exp Date:</b>
        </ion-col>
        <ion-col size="6">
          <ion-datetime class="inputqty" displayFormat="MM/DD/YYYY" formControlName="requestedDeliveryDate"
            placeholder="Select Date"></ion-datetime>
        </ion-col>
      </ion-row>
      <ion-row class="qtytoreceive" >
        <ion-col size="6">
          <b>Qty (Base):</b>
        </ion-col>
        <ion-col size="6">
          <ion-input class="inputqty" type="number" formControlName="QtyBase" value="0"></ion-input>
        </ion-col>
      </ion-row>
 

      <ion-row class="footer">

        <ion-col size="6">
          <ion-button shape="round" color="success" expand="block" type="submit">Send</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button shape="round" color="danger" expand="block" type="button" (click)="closePopover()">Close
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ng-container>