@import "~src/sass/popover-wms";

ion-icon.save{

    background: linear-gradient(to top, var(--ion-color-primary), var(--ion-color-primary-background)) !important;  
    color: var(--ion-color-plure-text);
}



.clipboardicon {
    font-size: 25px;
    font-weight: bold;
    color: var(--ion-color-primary);
    display: flex;
    align-items: center;
    // left: 100px;
}

.clipboardcol{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.icon{
    color: var(--ion-color-plureWhite-icon);
    font-size: 30px;
}

.iconeye{
    color: var(--ion-color-plureWhite-icon);
    font-size: 29px;
    display: flex;
    position: relative;
    bottom: 10px;
}