ion-item.plure-avatar {
    ion-avatar {
        margin: 38px 0px 0px 28px !important;
        width: 85px !important;
        height: 85px !important;
    }    
}

ion-label {
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 24px !important;
    line-height: 30px !important;
}