.designform-header {
    background: linear-gradient(to top, #5CABF9, #1A518E) !important;
    // margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 0.5em;
    padding-left: 20px;
    position: relative;
    color: #ffffff;
    border-radius: 0 0 70% 0;
    font-weight: bold;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11);
}

.footerReceipt{
    height: 60px;
    background: linear-gradient(to bottom, #5CABF9, #1A518E);
    border-radius: 7% 7% 0% 0%;
    box-shadow: 0px -5px 18px #00000029;

}

.itemfooter{
    color: #F2F2F2 !important;
}

ion-content{
    --background: linear-gradient(to bottom, rgb(220, 241, 255, 0.5), #ffff);
}

ion-list{
    background: transparent;
}