<ion-header>
  <ion-toolbar color="plureMain">
    <ion-buttons slot="start">
      <ion-back-button class="ion-toolbar-button" defaultHref="modules"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">{{process.salesType}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="avatar">
    <ion-col size="3" class="avatar-img">
      <ion-avatar>
        <img *ngIf="session.avatar == '' || session.avatar == null" src="../../../../assets/img/img-robot.svg" />
        <img *ngIf="session.avatar != '' && session.avatar != null" src="{{session.avatar}}" />
      </ion-avatar>
    </ion-col>
    <ion-col class="avatar-txt">
      <ion-label>{{session.userName}}</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="add">
        <ion-input (click)="onAddSales()">
          <div class="btnAdd">
            <div class="txt">
              Add new sales
            </div>
            <div class="icon">
              <ion-icon name="add-outline"></ion-icon>
            </div>
          </div>
        </ion-input>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="title">
    <ion-col>View</ion-col>
  </ion-row>
  <ion-row *ngIf="sales != undefined">
    <ion-col>
      <div class="list-orders">
        <ion-input (click)="onSalesList()">
          <div class="btn-list-orders">
            <ion-row>
              <ion-col size="4" class="icon">
                <img src="../../../../assets/img/modules/sales/view-sales.png" />
              </ion-col>
              <ion-col size="8" class="sales">
                <div>
                  Open sales <br />
                  {{sales.value}}
                </div>
                <div>{{sales.id}}</div>
                <div>{{sales.fields.SelltoCustomerNo}}</div>
                <div>{{sales.fields.OrderDate}}</div>
              </ion-col>
            </ion-row>
          </div>
        </ion-input>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="sales == undefined">
    <ion-col>
      <div class="list-orders">
        <ion-input>
          <div class="btn-list-orders">
            <ion-row>
              <ion-col size="4" class="icon">
                <img src="../../../../assets/img/modules/sales/view-sales.png" />
              </ion-col>
              <ion-col size="8" class="sales">
                <div>Open sales</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
              </ion-col>
            </ion-row>
          </div>
        </ion-input>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="title">
    <ion-col>Temporaly</ion-col>
  </ion-row>
  <ion-row *ngIf="temporaly != null">
    <ion-col>
      <div class="list-orders">
        <ion-input (click)="onTemp()">
          <div class="btn-list-orders">
            <ion-row>
              <ion-col>
                <div class="temporaly">
                  <div class="icon-temporaly">
                    <img src="../../../../assets/img/modules/times.svg" />
                  </div>
                  <div class="txt-temporaly">Times</div>
                  <div class="progress-temporaly">
                    <ion-progress-bar value="{{tempPerc}}"></ion-progress-bar>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-input>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="temporaly == null">
    <ion-col>
      <div class="list-orders">
        <ion-input>
          <div class="btn-list-orders">
            <ion-row>
              <ion-col>
                <div class="temporaly">
                  <div class="icon-temporaly">
                    <img src="../../../../assets/img/modules/times.svg" />
                  </div>
                  <div class="txt-temporaly">Times</div>
                  <div class="progress-temporaly">
                    <ion-progress-bar value="0"></ion-progress-bar>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-input>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer *ngIf="temporaly != null"> <!-- sales order -->
  <ion-toolbar color="plureMain">
    <ion-buttons slot="primary" class="ion-toolbar-button">
      <ion-button (click)="onSyncTemp()">
        <ion-icon slot="start" name="sync-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>