div.logofooter {
    bottom: 0;
    background: transparent linear-gradient(180deg, #D8D8D800 0%, #6C6C6C4F 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 100%;

    img {
        display: inline-block;
        margin-top: -28px;
    }

    div.version {
        color: var(--ion-color-plureBlue);
        margin-top: -20px;
        font-size: 12px;
    }
}

div.logofooter2 {
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.08);
    bottom: 0;
    background: #fff;
    position: fixed;
    text-align: center;
    width: 100%;

    img {
        display: inline-block;
    }

    div.version {
        color: var(--ion-color-plureBlue);
        margin-top: -20px;
        font-size: 12px;
    }

    ion-label {
        font-size: 12px;
    }
}