<ion-header [hidden]="searchObj.title == undefined">
  <ion-toolbar color="plureMain">
    <ion-buttons slot="start">
      <ion-back-button class="ion-toolbar-button" defaultHref="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">{{searchObj.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [hidden]="searchObj.title == undefined" :style="height: {{ height }}px">
  <div class="search-content" *ngIf="searchObj.type == 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item class="item-native-plure">
            <div class="search-all">
              <div class="icon">
                <img src="../../../assets/img/modules/search.svg" />
              </div>
              <div class="input">
                <ion-input (ionInput)="onChange($event)" placeholder="Search by {{searchObj.name}}"></ion-input>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="search-body">
      <div class="title">
        {{searchObj.name}}
      </div>
      <ion-grid>
        <ion-row *ngFor="let item of listsFilter" (click)="onClick(item)">
          <ion-col>
            <ion-label class="text-id">{{item.id}}-</ion-label>
            <ion-label class="text-value">{{item.value}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-row class="search-salesOrder" *ngIf="searchObj.type == 1">  <!-- sales order -->
    <ion-col size="12">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item class="item-native-plure">
              <div class="search-all">
                <div class="icon">
                  <img src="../../../assets/img/modules/search.svg" />
                </div>
                <div class="input">
                  <ion-input (ionInput)="onChange($event)" placeholder="Search by {{searchObj.name}}"></ion-input>
                </div>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col size="12">
      <ion-list class="listOrders">
        <ion-row *ngFor="let item of listsFilter; let i = index">
          <ion-item-sliding>
            <ion-item-options side="start">
              <ion-item-option color="danger" (click)="onDeleteLine(item, i)" style="padding: 0 50px;">Delete</ion-item-option> <!-- Delete item -->
            </ion-item-options>

            <ion-item (click)="onClick(item)">
              <ion-row>
                <ion-col size="12" class="listOrder-no">{{item.id}}</ion-col>
                <ion-col size="12" class="listOrder-date">{{item.fields.SelltoCustomerNo}}</ion-col>
                <ion-col size="4" class="listOrder-date">{{item.fields.DocumentDate}}</ion-col>
                <ion-col size="8" class="listOrder-txt">{{item.value}}</ion-col>
              </ion-row>
            </ion-item>
          </ion-item-sliding>
          
        </ion-row>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer *ngIf="searchObj.type == 1 && new"> <!-- sales order -->
  <ion-toolbar color="plureMain">
    <ion-buttons slot="primary" class="ion-toolbar-button">
      <ion-button (click)="onAddSalesOrder()">
        <img src="../../../assets/img/modules/add-sales.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>