// form stacke

.item-native-plure {
    padding: 0;
    --background: #ffffff;
    color: #000;
    
}

ion-item::part(native){
    padding: 0;
}

ion-row.search-salesOrder {
    ion-col:nth-child(2) {
        padding-top: 10px;
    }
    ion-col {
        padding: 0;
        ion-searchbar {
            padding: 0;
            color: var(--ion-color-plureMain);
            --placeholder-opacity: 1;
            font-family: SourceSansProBold;
            font-size: 20px;
            ion-icon {
                color: var(--ion-color-plureMain) !important;
                font-size: 20px;
            }
        }
        ion-list.listOrders {
            ion-row {
                padding: 0 0 20px;
                ion-col {
                    padding: 2px 10px;
                }
                ion-col.listOrder-no {
                    color: var(--ion-color-plure);
                }
                ion-col.listOrder-txt {
                    color: var(--ion-color-plureMain) !important;
                    font-weight: 600;
                    text-align: right;
                }
                
            }
        }
    }
}