<ion-header [hidden]="searchObj.title == undefined">
  <ion-toolbar color="plureMain">
    <ion-buttons slot="start">
      <ion-back-button class="ion-toolbar-button" defaultHref="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{searchObj.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [hidden]="searchObj.title == undefined">
  <div class="search-content">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item class="item-native-plure">
            <ion-label position="stacked">Search <span style="text-transform: lowercase">{{searchObj.name}}</span></ion-label>
            <ion-input (ionInput)="onChange($event)" type="text" placeholder="Search"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="search-body">
      {{searchObj.name}}
      <ion-grid>
        <ion-row *ngFor="let item of listsFilter" (click)="onClick(item)">
          <ion-col>{{item.id}} - {{item.value}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  
</ion-content>