@import '../../../../../sass/var';

ion-content.modules {    
    div.content-menu {
        border-radius: 5px;
        margin-top: 5px;
        padding-top: 5px;

        div.grid-content {
            margin: 20px;
            padding: 10px 15px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
            border-radius: 5px;
            h1 {
                color: $plure-init-input-bg;
                font-family: SourceSansProRegular !important;
                margin: 7px 0;
            }   
        }
    }

    ion-icon {
        color: #1A518F;
      }

    ion-grid {
        ion-row {
            ion-col {
                padding: 15px;

                div.module-item {    
                    background: rgba(26, 81, 142, 1);    
                    border: 0.6px solid rgba(85, 85, 105, 0.35);
                    box-sizing: border-box;
                    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11);
                    border-radius: 15px;
                    padding-bottom: 10px;
            
                    div.module-item-title {            
                        text-align: center;
                        h1 {
                            color: #fff;
                            font-family: SourceSansProRegular !important;
                            font-style: normal;
                            font-size: 16px;
                            line-height: 23px;
                        }            
                    }
            
                    div.module-item-icon {            
                        text-align: center;
                        display: block;
                        margin: auto;
                        padding-bottom: 10px;
                    }

                    div.module-elipse {
                        text-align: center;
                        img {
                            display: inline-block;
                            padding: 0 3px;
                        }
                    }
                }
            }
        }
    }    
}