@import "~src/sass/wms";

ion-item {
    --border-color: transparent !important;
    padding: 0px 0 10px 0;
}

.select {

    // padding-top: 30px;
    // padding-left: 30px;
    width: 100%;
}

.subtitlelist {
    padding: 0 0 10px 0;
}




.thebinselect {
    --placeholder-opacity: 1;
    opacity: 1;
}

