<ng-container>
  <ion-content>
      <ion-row class="header">
        <ion-col size="2" (click)="close()">
          <ion-icon class="itemfooter" name="close-outline"></ion-icon>
        </ion-col>
        <ion-col class="title" size="10">
          LP No: {{lp.PLULPDocumentNo}}
        </ion-col>
      </ion-row>

      <ion-list class="content">

        <ion-row *ngFor="let item of lp.seriales">

          <ion-col size="12" class="item">

            <ion-row class="titleslist">

              <ion-col size="8" class="titleblue LPNo">
                {{item.No}}
              </ion-col>

              <ion-col size="4" class="label-line-title">
                Qty. {{item.Quantity}}
              </ion-col>
            </ion-row>



            <ion-row>
              <ion-col size="6" class="label-line" *ngIf="item.SerialNo != null && item.SerialNo != ''">
                Serial No: <b>{{item.SerialNo}}</b>
              </ion-col>
              <ion-col size="6" class="label-line" *ngIf="item.LotNo != null && item.LotNo != ''">
                Lot No: <b>{{item.LotNo}}</b>
              </ion-col>


            </ion-row>

            <ion-row>
              <ion-col size="7" class="label-line" *ngIf="item.ExpirationDate != null && item.ExpirationDate != '' && item.ExpirationDate.charAt(0) > 0 ">
                Exp Date: <b>{{item.ExpirationDate}}</b>
              </ion-col>
              <ion-col size="5" class="label-line" *ngIf="item.VariantCode != ''">
                Variant Code: <b>{{item.VariantCode}}</b>
              </ion-col>


            </ion-row>

          </ion-col>

        </ion-row>


      </ion-list>

      <ion-row class="qtytoreceive titletop">
        <ion-col size={{size}} (click)="Count()" >
          <ion-button shape="round" expand="block">
            Count
          </ion-button>
        </ion-col>

        <ion-col size="6" (click)="BinToBin()" *ngIf="active">
          <ion-button shape="round" expand="block" color="secondary">
            Bin to Bin
          </ion-button>
        </ion-col>
      </ion-row> 
  </ion-content>
</ng-container>