@import "~src/sass/popover-wms";
@import "~src/sass/wms";


    ion-list {
        padding: 0 0 0 15PX;
       

}


.title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}




.content{

    overflow-y: scroll;
    height: 30vh !important;
}

