ion-content {

    --background: linear-gradient(to bottom, rgb(220, 241, 255, 0.5), #ffff);

    ion-row.header {
        background: linear-gradient(to top, #5CABF9, #1A518E) !important;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 15px;
        text-align: center;
        font-weight: bold;
        border-radius: 0 0 70% 0;
    }

    ion-list {
        padding: 0 0 0 15PX;
        background: transparent;

        ion-row {
            ion-col {
                ion-icon {
                    font-size: 25px;
                    color: var(--ion-color-plureBlue);
                }

                ion-label {
                    margin-top: 4px;
                    width: 100%;
                    position: absolute;
                    margin-left: 13px;
                }
            }
        }
    }
}

ion-item::part(native) {
    background: transparent;
    padding: 0;
    color: #000;
    font-size: 12px;
}

.item-lines {
    ion-input {
        width: 20px;
    }
}

.input-black {
    background-color: #111111 !important;
    padding: 0 5px !important;
}

.btn-decrement {
    --border-radius: 100% !important;
    padding: 3px;
    font-size: 12px;
    width: 35px !important;
    height: 35px !important;
}

.btn-increment {
    --border-radius: 100% !important;
    padding: 3px;
    width: 35px !important;
    height: 35px !important;
    font-size: 12px;
}



ion-button {
    color: white;
    --backround: var(--ion-color-plureBlue) !important;
    border-radius: 23px;
}

.qtytoreceive {
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
}

ion-input.inputqty {
    --background: rgba(92, 171, 249, 0.08);
    --color: black;
    border-radius: 23px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

// .codebaricon{
//     position: relative;
// }

.codebaricon {
    font-size: 40px;
    font-weight: bold;
    color: var(--ion-color-plureBlue);
    display: flex;
    align-items: center;
    // left: 100px;
}

ion-datetime-button.inputqty {
    --background: rgba(92, 171, 249, 0.08);
    --color: black;
    border-radius: 23px;
}

ion-datetime {
    border-bottom: 1px solid #fff;
    padding: 3px 0 0 !important;
    text-align: center;
}

div.icon-header {
    float: left;
    padding-right: 5px;
    width: 35px;
}

div.text-header {
    float: left;
    padding-top: 3px;
}

ion-label.smallfont {
    font-size: 15px;

    .datetime-text {
        font-size: 15px;
    }
}

ion-col.edit-header {
    padding-top: 11px;
}

ion-datetime.inputqty {
    background: rgba(92, 171, 249, 0.08);
    color: black;
    border-radius: 23px;
    height: 40px;
    display: flex;
    align-items: center;
}

.qtyhandle {
    padding-bottom: 10px;
}


ion-fab-button[data-desc2] {
    position: relative;
}

ion-fab-button[data-desc2]::after {
    position: absolute;
    content: attr(data-desc2);
    z-index: 1;
    right: 50px;
    bottom: 7px;
    color: var(--ion-color-contrast, #fff);
    background-color: var(--ion-color-base, #fff);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

ion-fab-button {
    width: 50px;
    height: 50px;
}

.titletop{
    padding-top: 10px;
}

.itemfooter{
    color: #F2F2F2 !important;
    font-size: 29px;   
}

.iconeye{
    display: flex;
    justify-content: flex-start;
}

.accorn {
    font-size: 12px;

    // ion-row {
    //     ion-col {
    //         ion-label {
    //           //  color: var(--ion-color-plureMain);
    //         }
    //     }
    // }
    .accorn-title {
        padding: 5px;
        font-weight: bold;
    }

    .btn-accord {
        text-align: center;

        .accord-btn-add {
            display: inline-block;
        }
    }
}

.titleslist {
    // padding: 0 0 2px 0;
    justify-content: center;
}

// .subtitlelist {
//     padding: 0 0 2px 0;
// }

.titleblue {
    color: var(--ion-color-plureBlue);
    font-size: 15px;
    font-family: SourceSansProBold;
    font-weight: bold;
    //   display: flex;
    //  align-items: center;
}

ion-col.item {

    border-bottom: 1px solid gray;
    width: 100%;

}

.content{

    overflow-y: scroll;
    height: 50vh !important;
}

