@import "~src/sass/popover-wms";


ng-container.container {
    background: var(--ion-color-plureBlue);
    color: var(--ion-color-plure-text);
}


ion-row.newColorOpcion {
    background: linear-gradient(to top, var(--ion-color-primary), var(--ion-color-primary-background)) !important;
    color: var(--ion-color-plure-text);
    font-weight: bold;
    text-align: center;
    border-radius: 0 0 10% 10%;
}