ion-content {

  
    ion-row.header{
        background: var(--ion-color-plureBlue);
        color: #ffffff;
      
    }
    ion-list {
        border-bottom: 1px solid #999;
        padding: 0;
        ion-row {
            ion-col {
                ion-icon {
                    font-size: 25px;
                    color: var(--ion-color-plureBlue);
                }
                ion-label {
                    margin-top: 4px;
                    width: 100%;
                    position: absolute;
                    margin-left: 13px;
                }
            }
        }
    }
}



ng-container.container{


    background: var(--ion-color-plureBlue);
    color: #ffffff;
}


ion-row.newColor {
    background: rgba(21, 73, 131, 1);
    margin: 5px 0 0;
    color: #ffffff;
}