<ion-header>
  <ion-toolbar color="plureMain">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>Modules</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="modules">

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onGrid(false)" *ngIf="grid">
        <ion-icon slot="icon-only" name="list-outline" color="warning"></ion-icon>
      </ion-button>
      <ion-button (click)="onGrid(true)" *ngIf="!grid">
        <ion-icon slot="icon-only" name="grid-outline" color="warning"></ion-icon>
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>

  <ion-list *ngIf="!grid">
    <ion-item *ngFor="let mod of modules" class="ion-no-padding">
      <div class="module-item" (click)="onClick(mod)">
        <div class="module-item-icon">
          <img src="../../../../assets/img/modules/{{mod.icon}}.svg" alt="">            
        </div>
        <div class="module-item-title"> 
          <h1>{{mod.description}}</h1>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-grid *ngIf="grid">
    <ion-row>
      <ion-col *ngFor="let mod of modules" size-lg="3" size-md="4" size-sm="6" size="6">
        <div class="module-item" (click)="onClick(mod)">
          <div class="module-item-title">
            <h1>{{mod.description}}</h1>
          </div>
          <div class="module-item-icon">
            <img src="../../../../assets/img/modules/{{mod.icon}}.svg" alt="">            
          </div>
        </div>        
      </ion-col>      
    </ion-row>
  </ion-grid>

</ion-content>