<PlureHeader type="1" title="Receipts" url="page/wms/wmsMain" notify="0"></PlureHeader>

<ion-content>
    <form>
        <div class="designform-header">
            <ion-row>
                <ion-col>
                    <ion-label>No. {{wareReceipts.No}}</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label>Loc. {{wareReceipts.LocationCode}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Zone. {{wareReceipts.ZoneCode}}</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label>Bin. {{wareReceipts.BinCode}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Posting Date. {{wareReceipts.PostingDate}}</ion-label>
                </ion-col>
            </ion-row>
        </div>
        <div class="accorn">
            <div class="order-details">
                <ion-row>
                    <ion-col size="3" class="txt">
                        <ion-label>Lines</ion-label>
                    </ion-col>
                    <ion-button (click)="popoverItemTraking()"></ion-button>
                    <!-- <ion-col *ngIf="new || edit">
                  <ion-button class="add-lines" color="plure" (click)="onItem()" type="button">+</ion-button>
                </ion-col> -->
                </ion-row>
            </div>
            <div class="accorn-body">
                <div class="lines">
                    <ion-list *ngFor="let item of wareReceipts.lines; let i=index">
                        <div>

                            <ion-item-sliding>


                                <ion-item>
                                    <div class="label-lines" part="item-width" (click)="onPopoverMenu($event,item)">
                                        <ion-row>
                                            <ion-col size="10">
                                                <ion-row>
                                                    <ion-col size="7" style="overflow: hidden;"
                                                        class="label-line-title blue">
                                                        {{item.Description}}
                                                    </ion-col>
                                                    <ion-col size="5" class="label-line-title"
                                                        style="text-align: right;">
                                                        Qty. {{item.Quantity}}


                                                        /<label
                                                            *ngIf="item.PLUNewQtyOutstanding !== null">{{item.PLUNewQtyOutstanding}}</label>
                                                        <label *ngIf="item.PLUNewQtyOutstanding == null">0</label>
                                                    </ion-col>

                                                </ion-row>
                                                <ion-row>
                                                    <ion-col size="4" class="label-line">
                                                        Item No: {{item.ItemNo}}
                                                    </ion-col>
                                                    <ion-col size="4" class="label-line">
                                                        Measure: {{item.UnitofMeasureCode}}
                                                    </ion-col>
                                                    <ion-col size="4" class="label-line">
                                                        PO: {{item.SourceNo}}
                                                    </ion-col>
                                                </ion-row>
                                                <ion-row>
                                                    <ion-col class="label-line" size="3">
                                                        Line: {{item.LineNo}}
                                                    </ion-col>
                                                </ion-row>
                                            </ion-col>
                                        </ion-row>
                                    </div>

                                    <div style="text-align: right ;" (click)="showLPs(item)" *ngIf="item.plure === true">

                                        <ion-col size="5" class="label-line-title">

                                            <a *ngIf="cantidades.length > 0" class="PL" href="http://" target="_blank"
                                                rel="noopener noreferrer">LP {{cantidades[i]}}</a>
                                            <a *ngIf="cantidades.length === 0" class="PL" href="http://" target="_blank"
                                                rel="noopener noreferrer">LP 0</a>

                                        </ion-col>

                                    </div>




                                </ion-item>


                            </ion-item-sliding>
                        </div>
                    </ion-list>
                </div>
            </div>
        </div>
    </form>

    
</ion-content>



<PlureVersion class="footerReceipt" showVersion="0">
    <ion-row>
        <ion-col size="3" (click)=" listPallet()">
            <ion-icon class="itemfooter" size="large" name="list-circle-outline"></ion-icon>
            <div class="itemfooter">List Pallet</div>
        </ion-col>
        <ion-col size="3" (click)="newPallet()">
            <ion-icon class="itemfooter" size="large" name="add-circle-outline"></ion-icon>
            <div class="itemfooter">New Pallet</div>
        </ion-col>
        <ion-col size="3" (click)="onBarCode()">
            <ion-icon class="itemfooter" size="large" name="barcode-outline"></ion-icon>
            <div class="itemfooter">Bar code</div>
        </ion-col>


        <ion-col size="3" (click)="onSubmit()">
            <ion-icon class="itemfooter" size="large" name="save-outline"></ion-icon>
            <div class="itemfooter">Save</div>
        </ion-col>
    </ion-row>
</PlureVersion>