<PlureHeader type="1" title="Receipts" url="page/wms/wmsMain" notify="0"></PlureHeader>

<ion-content>
    <form>
        <div class="designform-header">
            <ion-row>
                <ion-col>
                    <ion-label>No. {{wareReceipts.No}}</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label>Loc. {{wareReceipts.LocationCode}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Zone. {{wareReceipts.ZoneCode}}</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label>Bin. {{wareReceipts.BinCode}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Posting Date. {{wareReceipts.PostingDate}}</ion-label>
                </ion-col>
            </ion-row>
        </div>
        <div class="accorn">
            <div class="order-details">
                <ion-row>
                    <ion-col size="3" class="txt">
                        <ion-label>Lines</ion-label>
                    </ion-col>
                    
                    <!-- <ion-col *ngIf="new || edit">
                  <ion-button class="add-lines" color="plure" (click)="onItem()" type="button">+</ion-button>
                </ion-col> -->
                </ion-row>
            </div>
            <div class="accorn-body">
                <div class="lines">
                    <ion-list *ngFor="let item of wareReceipts.lines; let i=index">
                        <div>

                            <ion-item-sliding>


                                <ion-item>
                                    <div class="label-lines" part="item-width">
                                        <ion-row>
                                            <ion-col size="12">
                                                <ion-row>
                                                    <ion-col size="8" style="overflow: hidden;"
                                                        class="label-line-title blue"
                                                        (click)="onPopoverMenu($event,item)">
                                                        {{item.ItemNo}}
                                                    </ion-col>
                                                    <ion-col size="4" class="label-line-title">
                                                        Qty. {{item.Quantity}}


                                                        /<label
                                                            *ngIf="item.PLUNewQtyOutstanding !== null">{{item.PLUNewQtyOutstanding}}</label>
                                                        <label *ngIf="item.PLUNewQtyOutstanding == null">0</label>
                                                    </ion-col>

                                                </ion-row>
                                                <!-- Descripcion del item (variante), este debe tener un boolean -->
                                                <ion-row>
                                                    <ion-col class="itemdesc" size="8"
                                                        (click)="onPopoverMenu($event,item)">
                                                        {{item.Description}}
                                                    </ion-col>

                                                    <div (click)="showLPs(item)" *ngIf="item.plure === true">

                                                        <ion-col size="4" class="label-line-title">

                                                            <a *ngIf="cantidades.length > 0" class="PL" href="http://"
                                                                target="_blank" rel="noopener noreferrer">LP
                                                                {{cantidades[i]}}</a>
                                                            <a *ngIf="cantidades.length === 0" class="PL" href="http://"
                                                                target="_blank" rel="noopener noreferrer">LP 0</a>

                                                        </ion-col>

                                                    </div>

                                                </ion-row>
                                                <ion-row (click)="onPopoverMenu($event,item)">
                                                    <!-- <ion-col size="4" class="label-line">
                                                        <b>Item No:</b> {{item.ItemNo}}
                                                    </ion-col> -->
                                                    <ion-col class="label-line" size="4">
                                                        <b>Line:</b> {{item.LineNo}}
                                                    </ion-col>
                                                    <ion-col size="4" class="label-line">
                                                        <b>Measure:</b> {{item.UnitofMeasureCode}}
                                                    </ion-col>
                                                    <ion-col size="4" class="label-line">
                                                        <b>PO:</b> {{item.SourceNo}}
                                                    </ion-col>
                                                </ion-row>
                                                <ion-row (click)="onPopoverMenu($event,item)">
                                                    <!-- <ion-col class="label-line" size="4">
                                                        <b>Line:</b> {{item.LineNo}}
                                                    </ion-col> -->
                                                    <ion-col class="label-line" size="12"
                                                        *ngIf="item.VariantCode !== null">
                                                        <b>Variant Code:</b> {{item.VariantCode}}
                                                    </ion-col>
                                                </ion-row>
                                            </ion-col>
                                        </ion-row>
                                    </div>

                                </ion-item>


                            </ion-item-sliding>
                        </div>
                    </ion-list>
                </div>
            </div>
        </div>
    </form>


</ion-content>



<PlureVersion class="footerReceipt" showVersion="0">
    <ion-row>
        <ion-col size="3" (click)=" listPallet()">
            <ion-icon class="itemfooter" size="large" name="list-circle-outline"></ion-icon>
            <div class="itemfooter">List Pallet</div>
        </ion-col>
        <ion-col size="3" (click)="newPallet()">
            <ion-icon class="itemfooter" size="large" name="add-circle-outline"></ion-icon>
            <div class="itemfooter">New Pallet</div>
        </ion-col>
        <ion-col size="3" (click)="onBarCode()">
            <ion-icon class="itemfooter" size="large" name="barcode-outline"></ion-icon>
            <div class="itemfooter">Bar code</div>
        </ion-col>


        <ion-col size="3" (click)="onSubmit()">
            <ion-icon class="itemfooter" size="large" name="save-outline"></ion-icon>
            <div class="itemfooter">Save</div>
        </ion-col>
    </ion-row>
</PlureVersion>