<PlureHeader type="1" title="Receipts" url="page/wms/wmsMain" notify="0"></PlureHeader>

<ion-content>
    <form>
        <div class="designform-header">
            <ion-row>
                <ion-col>
                    <ion-label>No. {{wareReceipts.No}}</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label>Loc. {{wareReceipts.LocationCode}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Zone. {{wareReceipts.ZoneCode}}</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label>Bin. {{wareReceipts.BinCode}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Posting Date. {{wareReceipts.PostingDate}}</ion-label>
                </ion-col>
            </ion-row>
        </div>
        <div class="accorn">
         
            <div class="accorn-body">
                <div class="lines">
                    <ion-list  *ngFor="let item of wareReceipts.lines; let i=index">

                                    <div class="label-lines" >
                                        <ion-item style="width: 100%;">
                                            <ion-col size="12">
                                                <ion-row>
                                                    <ion-col size="8" style="overflow: hidden;"
                                                        class="label-line-title blue"
                                                        (click)="onPopoverMenu($event,item)">
                                                        {{item.ItemNo}}
                                                    </ion-col>
                                                    <ion-col size="4" class="label-line-title">
                                                        Qty. {{item.QtyOutstanding}}


                                                        /<label
                                                            *ngIf="item.QtytoReceive !== null">{{item.QtytoReceive}}</label>
                                                        <label *ngIf="item.QtytoReceive == null">0</label>
                                                    </ion-col>

                                                </ion-row>
                                                <!-- Descripcion del item (variante), este debe tener un boolean -->
                                                <ion-row>
                                                    <ion-col class="itemdesc" size="8"
                                                        (click)="onPopoverMenu($event,item)">
                                                        {{item.VariantCode}}
                                                    </ion-col>

                                                    <div (click)="showLPs(item)" *ngIf="item.Managed_by_PlurE">

                                                        <ion-col size="4" class="label-count-lp">

                                                            <a  class="PL" 
                                                                target="_blank" rel="noopener noreferrer" *ngIf="item.LPArray != undefined">LP
                                                                {{item.LPArray.LicensePlates.length}}</a>

                                                        
                                                                <a  class="PL" 
                                                                target="_blank" rel="noopener noreferrer" *ngIf="item.LPArray === undefined">LP
                                                                 </a>                                                                                                                                                    
                                                            

                                                        </ion-col>

                                                    </div>
                                                </ion-row>
                                                <ion-row (click)="onPopoverMenu($event,item)">
                                                    <!-- <ion-col size="4" class="label-line">
                                                        <b>Item No:</b> {{item.ItemNo}}
                                                    </ion-col> -->
                                                    <ion-col class="label-line" size="4" *ngIf="item.ItemTrackingCode != ''">
                                                        <b>Traking:</b> true
                                                    </ion-col>

                                                    <ion-col class="label-line" size="4" *ngIf="item.ItemTrackingCode === ''">
                                                        <b>Traking:</b> false
                                                    </ion-col>

                                                    <ion-col size="4" class="label-line">
                                                        <b>Measure:</b> {{item.UnitofMeasureCode}}
                                                    </ion-col>
                                                    <ion-col size="4" class="label-line">
                                                        <b>PO:</b> {{item.SourceNo}}
                                                    </ion-col>
                                                </ion-row>
                                              
                                            </ion-col>
                                        </ion-item>
                                    </div>
                                </ion-list>
                </div>
            </div>
        </div>
    </form>


</ion-content>



<PlureVersion class="footerReceipt" showVersion="0">
    <ion-row>
        <ion-col size="4" (click)=" listPallet()">
            <ion-icon class="itemfooter" size="large" name="list-circle-outline"></ion-icon>
            <div class="itemfooter">List LP</div>
        </ion-col>
        <ion-col size="4" (click)="onSubmit()">
            <ion-icon class="itemfooter" size="large" name="save-outline"></ion-icon>
            <div class="itemfooter">Save</div>
        </ion-col>

        <picture class="img" (click)="newPallet()">
            
            <img  src="../../../../assets/img/pallet-_2_.svg" width="100px" height="30px"  alt="">
            <div  class="itemfooter">New pallet</div>
            
          </picture>
         
    </ion-row>
</PlureVersion>