<div class="container glass-fx" [hidden]="alertObj.type == undefined">
  <div class="alert-content">
    <div class="alert-header">
      <img src="../../../assets/icon/success.svg" *ngIf="alertObj.type == 'success'" />
      <img src="../../../assets/icon/confirm.svg" *ngIf="alertObj.type == 'confirm'" />
      <img src="../../../assets/icon/confirm.svg" *ngIf="alertObj.type == 'register'" />
      <img src="../../../assets/icon/confirm.svg" *ngIf="alertObj.type == 'confirmEdit'" />
      <img src="../../../assets/icon/confirm.svg" *ngIf="alertObj.type == 'continue'" />
      <img src="../../../assets/icon/confirm.svg" *ngIf="alertObj.type == 'edit'" />
      <img src="../../../assets/icon/error.svg" *ngIf="alertObj.type == 'error'" />
      <img src="../../../assets/icon/alert.svg" *ngIf="alertObj.type == 'alert'" />
      <img src="../../../assets/icon/alert.svg" *ngIf="alertObj.type == 'alert2'" />
      <img src="../../../assets/icon/dontaccess.svg" *ngIf="alertObj.type == 'noaccess'" />
      <img src="../../../assets/icon/confirm.svg" *ngIf="alertObj.type == 'select'" />
    </div>
    <div class="alert-body">
  <strong *ngIf="alertObj.type !== 'edit' && alertObj.type !== 'register' && alertObj.type !== 'confirmEdit'" >{{alertObj.title}}</strong><br>

      {{alertObj.desc}}
      <div class="alert-btn" *ngIf="alertObj.type != 'confirm' && alertObj.type != 'continue' && alertObj.type != 'edit' 
        && alertObj.type !== 'select' &&  alertObj.type !== 'register' && alertObj.type !== 'alert2' && alertObj.type !== 'confirmEdit'">
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="onOk()">OK</ion-button>
      </div>
      <div class="alert-btn" *ngIf="alertObj.type == 'confirm'">
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="onYes()">Yes</ion-button>
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="onOk()">Cancel</ion-button>
      </div>

      <div class="alert-btn" *ngIf="alertObj.type == 'alert2'">
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="si()">Yes</ion-button>
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="cancel()">Cancel</ion-button>
      </div>

      <div class="alert-btn" *ngIf="alertObj.type == 'continue'">
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="onYes()">Yes</ion-button>
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="onOk()">No</ion-button>
      </div>
      <div class="alert-btn" *ngIf="alertObj.type == 'edit'">
        <p>{{alertObj.title}}</p>
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="onSi()">Yes</ion-button>
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="onNo()">No</ion-button>
      </div>

      <div class="alert-btn" *ngIf="alertObj.type == 'register'">
        <p>{{alertObj.title}}</p>
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="onYes()">Yes</ion-button>
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="onOk()">No</ion-button>
      </div>

      <div class="alert-btn" *ngIf="alertObj.type == 'confirmEdit'">
        <p>{{alertObj.title}}</p>
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="onYes()">Yes</ion-button>
        <ion-button type="button" class="btn btn-plure" color="plureBlue" (click)="No()">No</ion-button>
      </div>

    </div>
  </div>
</div>