<PlureHeader type="1" title="Read License Plate" url="page/wms/wmsMain" notify="0"></PlureHeader>

<ion-content>
  <div class="designform-header">

    <ion-row class="headerow" *ngIf="lp != undefined && lp.fields.PLULPDocumentType === 'Single'">
      <ion-col size="4">
        Whse. Document.
      </ion-col>
      <ion-col size="7">
        {{lp.fields.PLUWhseDocument}}
      </ion-col>
    </ion-row>


    <ion-row class="headerow" *ngIf="lp != undefined && lp.fields.PLULPDocumentType === 'Single' ">
      <ion-col size="4">
        Reference No.
      </ion-col>
      <ion-col size="7">
        {{lp.fields.PLUWhseDocumentNo}}
      </ion-col>
    </ion-row>


    <ion-row class="headerow" *ngIf="lp != undefined && lp.fields.PLULPDocumentType === 'Pallet'">
      <ion-col size="4">
        Whse. Document.
      </ion-col>
      <ion-col size="7">
        {{palletH.fields.PLUWhseDocument}}
      </ion-col>
    </ion-row>


    <ion-row class="headerow" *ngIf="lp != undefined && lp.fields.PLULPDocumentType === 'Pallet' ">
      <ion-col size="4">
        Reference No.
      </ion-col>
      <ion-col size="7">
        {{palletH.fields.PLUWhseDocumentNo}}
      </ion-col>
    </ion-row>

    <ion-row class="headerowprinc" *ngIf="principalcontent">
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </div>

  <div class="order-details" *ngIf="principalcontent">
    <ion-row>
      <ion-col size="12" class="txt">
        <ion-label>Please scan or enter the License Plate ID</ion-label>
      </ion-col>
    </ion-row>
  </div>

  <ion-list *ngIf="principalcontent">
    <ion-item class="inputwrite">
      <ion-row class="inputscanRow">
        <ion-col class="inputscan" size="10">
          <ion-input [clearInput]="true" placeholder="Enter the LP ID"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="lp != undefined && lp.fields.PLULPDocumentType === 'Single'">

    <ion-item class="Title">

      <ion-row size="6">
        <ion-col>

          <h2><strong>General</strong></h2>

        </ion-col>
        <ion-col class="buttonhistory" size="6">

          <ion-button style="color: #F2F2F2 !important">
            <ion-icon name="reader-outline"></ion-icon>&nbsp;&nbsp;
            Logs
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-item>

    <ion-row style="padding-top: 20px;">

      <ion-col class="Subtitle">

        Document No.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLULPDocumentNo}}
      </ion-col>
    </ion-row>


    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Location Code.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLULocationCode}}
      </ion-col>
    </ion-row>


    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Zone Code.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUZoneCode}}
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        License Plate Status.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLULicensePlateStatus}}
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Bin Code.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUBinCode}}
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Unit of Measure (LP).
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUUnitofMeasure}}
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Reference Document No.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUReferenceDocument}}
      </ion-col>
    </ion-row>



    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Document Type.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLULPDocumentType}}
      </ion-col>

    </ion-row>

    <ion-item class="Title">

      <h3><strong>Lines</strong></h3>
    </ion-item>



    <ion-row style="padding-top: 20px;">

      <ion-col class="Subtitle">

        LP Type.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUType}}
      </ion-col>


    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        No.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUNo}}
      </ion-col>


    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Description.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUDescription}}
      </ion-col>


    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Quantity.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUQuantity}}
      </ion-col>


    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Unit of Measure Code.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUUnitofMeasureCode}}
      </ion-col>


    </ion-row>



  </ion-list>


  <ion-list *ngIf="palletH != undefined && lp.fields.PLULPDocumentType === 'Pallet'">

    <ion-item class="Title">

      <h2><strong>General</strong></h2>
    </ion-item>

    <ion-row style="padding-top: 20px;">

      <ion-col class="Subtitle">

        Document No.
      </ion-col>


      <ion-col class="label" size="5">

        {{palletH.fields.PLULPDocumentNo}}
      </ion-col>
    </ion-row>


    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Location Code.
      </ion-col>


      <ion-col class="label" size="5">

        {{palletH.fields.PLULocationCode}}
      </ion-col>
    </ion-row>


    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Zone Code.
      </ion-col>


      <ion-col class="label" size="5">

        {{palletH.fields.PLUZoneCode}}
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        License Plate Status.
      </ion-col>


      <ion-col class="label" size="5">

        {{palletH.fields.PLULicensePlateStatus}}
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Bin Code.
      </ion-col>


      <ion-col class="label" size="5">

        {{palletH.fields.PLUBinCode}}
      </ion-col>
    </ion-row>


    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Document Type.
      </ion-col>


      <ion-col class="label" size="5">

        {{palletH.fields.PLULPDocumentType}}
      </ion-col>

    </ion-row>

    <ion-item class="Title">

      <h3><strong>Lines</strong></h3>
    </ion-item>


    <ion-list class="list" *ngFor="let item of palletL">
      <ion-row style="padding-top: 20px;">

        <ion-col class="Subtitle">

          LP Type.
        </ion-col>


        <ion-col class="label" size="5">

          {{item.PLUType}}
        </ion-col>


      </ion-row>

      <ion-row style="padding-top: 10px;">

        <ion-col class="Subtitle">

          No.
        </ion-col>


        <ion-col class="label" size="5">

          {{item.PLUNo}}
        </ion-col>


      </ion-row>

      <ion-row style="padding-top: 10px;">

        <ion-col class="Subtitle">

          Description.
        </ion-col>


        <ion-col class="label" size="5">

          {{item.PLUDescription}}
        </ion-col>


      </ion-row>

      <ion-row style="padding-top: 10px;">

        <ion-col class="Subtitle">

          Quantity.
        </ion-col>


        <ion-col class="label" size="5">

          {{item.PLUQuantity}}
        </ion-col>


      </ion-row>

      <ion-row style="padding-top: 10px;">

        <ion-col class="Subtitle">

          Unit of Measure Code.
        </ion-col>


        <ion-col  class="label" size="5">

          {{item.PLUUnitofMeasureCode}}
        </ion-col>


      </ion-row>

    </ion-list>

  </ion-list>




</ion-content>


<PlureVersion class="footerReceipt" showVersion="0">
  <ion-row>
    <ion-col size="12" (click)="onBarCode()">
      <ion-icon class="itemfooter" size="large" name="barcode-outline"></ion-icon>
      <div class="itemfooter">Bar code</div>
    </ion-col>
  </ion-row>
</PlureVersion>