ion-content {
    --background: linear-gradient(to bottom, rgb(220, 241, 255, 0.5), #ffff) !important;
}

ion-list {


    background: transparent !important;
    padding: 0 20px 0 20px;

}

.designform-header {
    background: linear-gradient(to top, #5CABF9, #1A518E) !important;
    // margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 0.5em;
    position: relative;
    color: #ffffff;
    border-radius: 0 0 70% 0;
    font-weight: bold;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11);
    height: 105px;
}

.headerow,
.headerowprinc {
    padding: 0 0 0 20px;
}

.headerowprinc {
    height: 40px !important;
}

.order-details {
    color: var(--ion-color-plureBlue);
    padding: 12px 0.2em 0;

    ion-col.txt {
        padding: 14px 0 0 20px;

        ion-label {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.inputscan {
    padding: 11px 0 0 0;
    border-bottom: 1px solid var(--ion-color-plureMain);
    width: 80% !important;
}


ion-item {
    --background: transparent !important;
    border-bottom: 1px solid black;
}

.Title {
    color: var(--ion-color-plureBlue);
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;

}

.Subtitle {
    color: var(--ion-color-plureBlue);
}

.label {
    background-color: rgba(21, 73, 131, 0.2);
    height: 25px;
    border-radius: 23px;
}

.list {
    border-bottom: 2px solid #aaaaaa;
    padding: 5px 0 5px 0 !important;
}

.buttonhistory {
    padding-top: 20px;
    padding-left: 65px;
    width: 100%;
}

.footerReceipt {
    height: 60px;
    background: linear-gradient(to bottom, #5CABF9, #1A518E);
    border-radius: 7% 7% 0% 0%;
    box-shadow: 0px -5px 18px #00000029;

}

.inputscanRow {
    padding: 0 !important;
}

.inputscan {
    padding: 11px 0 0 0;
}

.itemfooter {
    color: #F2F2F2 !important;
}

ion-item {

    border-bottom: 2px solid black;
}

.rowlistfirst {
    padding-top: 10px;
}

.rowlist {
    padding-top: 4px;
}