<PlureHeader type="1" title="Read License Plate" url="page/main/modules" notify="0"></PlureHeader>

<ion-content>
  <div class="designform-header">

  <ion-row class="headerow" *ngIf="lp != undefined && lp.fields.PLULPDocumentType === 'Single'">
    <ion-col size="4">
      Whse. Document. 
    </ion-col>
    <ion-col size="7">
      {{lp.fields.PLUWhseDocument}}
    </ion-col>
  </ion-row>


  <ion-row class="headerow" *ngIf="lp != undefined && lp.fields.PLULPDocumentType === 'Single' ">
    <ion-col size="4">
      Reference No.
    </ion-col>
    <ion-col size="7"> 
      {{lp.fields.PLUWhseDocumentNo}}
    </ion-col>
  </ion-row>


  <ion-row class="headerow" *ngIf="lp != undefined && lp.fields.PLULPDocumentType === 'Pallet'">
    <ion-col size="4">
      Whse. Document. 
    </ion-col>
    <ion-col size="7">
      {{palletH.fields.PLUWhseDocument}}
    </ion-col>
  </ion-row>


  <ion-row class="headerow" *ngIf="lp != undefined && lp.fields.PLULPDocumentType === 'Pallet' ">
    <ion-col size="4">
      Reference No.
    </ion-col>
    <ion-col size="7"> 
      {{palletH.fields.PLUWhseDocumentNo}}
    </ion-col>
  </ion-row>

  <ion-row class="headerow">
    <ion-col>
      
    </ion-col>
  </ion-row>
  </div>

  <ion-list *ngIf="lp != undefined && lp.fields.PLULPDocumentType === 'Single'">

    <ion-item class="Title">

      <ion-row size="6">
        <ion-col>

          <h2><strong>General</strong></h2> 

        </ion-col>
        <ion-col size="6"  style="padding-top: 15px;padding-left: 110px;">

          <ion-button style="color: #F2F2F2 !important">
            <ion-icon name="reader-outline"></ion-icon>&nbsp;&nbsp;
            Logs
          </ion-button>
        </ion-col>
      </ion-row>
  
    </ion-item>

    <ion-row style="padding-top: 20px;">

      <ion-col class="Subtitle">

        Document No.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLULPDocumentNo}}
      </ion-col>
    </ion-row>


    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Location Code.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLULocationCode}}
      </ion-col>
    </ion-row>


    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Zone Code.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUZoneCode}}
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        License Plate Status.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLULicensePlateStatus}}
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Bin Code.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUBinCode}}
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Unit of Measure (LP).
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUUnitofMeasure}}
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Reference Document No.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUReferenceDocument}}
      </ion-col>
    </ion-row>

    

    <ion-row style="padding-top: 10px;">

      <ion-col >

      Document Type.
      </ion-col>


      <ion-col size="5" style="background-color:  #aaaaaa; padding-right: 20px; height: 25px;">

        {{lp.fields.PLULPDocumentType}}
      </ion-col>

    </ion-row>

    <ion-item class="Title">

      <h3><strong>Lines</strong></h3>
    </ion-item>



    <ion-row style="padding-top: 20px;">

      <ion-col class="Subtitle">

        LP Type.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUType}}
      </ion-col>


    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        No.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUNo}}
      </ion-col>


    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Description.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUDescription}}
      </ion-col>


    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Quantity.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUQuantity}}
      </ion-col>


    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col class="Subtitle">

        Unit of Measure Code.
      </ion-col>


      <ion-col size="5" class="label">

        {{lp.fields.PLUUnitofMeasureCode}}
      </ion-col>


    </ion-row>



  </ion-list>


  <ion-list *ngIf="palletH != undefined && lp.fields.PLULPDocumentType === 'Pallet'">

    <ion-item >

     <h2><strong>General</strong></h2> 
    </ion-item>

    <ion-row style="padding-top: 20px;">

      <ion-col >

        Document No.
      </ion-col>


      <ion-col size="5" style="background-color:  #aaaaaa; padding-right: 20px; height: 25px;">

        {{palletH.fields.PLULPDocumentNo}}
      </ion-col>
    </ion-row>

    
    <ion-row style="padding-top: 10px;">

      <ion-col >

        Location Code.
      </ion-col>


      <ion-col size="5" style="background-color:  #aaaaaa; padding-right: 20px; height: 25px;">

        {{palletH.fields.PLULocationCode}}
      </ion-col>
    </ion-row>

      
    <ion-row style="padding-top: 10px;">

      <ion-col >

        Zone Code.
      </ion-col>


      <ion-col size="5" style="background-color:  #aaaaaa; padding-right: 20px; height: 25px;">

        {{palletH.fields.PLUZoneCode}}
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col >

       License Plate Status.
      </ion-col>


      <ion-col size="5" style="background-color:  #aaaaaa; padding-right: 20px; height: 25px;">

        {{palletH.fields.PLULicensePlateStatus}}
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col >

       Bin Code.
      </ion-col>


      <ion-col size="5" style="background-color:  #aaaaaa; padding-right: 20px; height: 25px;">

        {{palletH.fields.PLUBinCode}}
      </ion-col>
    </ion-row>

  
    <ion-row style="padding-top: 10px;">

      <ion-col >

      Document Type.
      </ion-col>


      <ion-col size="5" style="background-color:  #aaaaaa; padding-right: 20px; height: 25px;">

        {{palletH.fields.PLULPDocumentType}}
      </ion-col>

    </ion-row>

    <ion-item>

      <h3><strong>Lines</strong></h3> 
     </ion-item>


<ion-list class="list" *ngFor="let item of palletL">
    <ion-row style="padding-top: 20px;">

      <ion-col>

        LP Type.
      </ion-col>


      <ion-col size="5" style="background-color:  #aaaaaa; padding-right: 100px; height: 25px; width: 30px;">

        {{item.PLUType}}
      </ion-col>

     
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col>

        No.
      </ion-col>


      <ion-col size="5" style="background-color:  #aaaaaa; padding-right: 20px; height: 25px;">

        {{item.PLUNo}}
      </ion-col>

     
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col>

        Description.
      </ion-col>


      <ion-col size="5" style="background-color:  #aaaaaa; padding-right: 20px; height: 25px; width: 30px;">

        {{item.PLUDescription}}
      </ion-col>

     
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col>

        Quantity.
      </ion-col>


      <ion-col size="5" style="background-color:  #aaaaaa; padding-right: 100px; height: 25px; width: 30px;">

        {{item.PLUQuantity}}
      </ion-col>

     
    </ion-row>

    <ion-row style="padding-top: 10px;">

      <ion-col>

        Unit of Measure Code.
      </ion-col>


      <ion-col size="5" style="background-color:  #aaaaaa; padding-right: 100px; height: 25px; width: 30px;">

        {{item.PLUUnitofMeasureCode}}
      </ion-col>

     
    </ion-row>

 </ion-list>

</ion-list>




</ion-content>


<PlureVersion class="footerReceipt" showVersion="0">
  <ion-row>
    <ion-col size="12" (click)="onBarCode()">
      <ion-icon class="itemfooter" size="large" name="barcode-outline"></ion-icon>
      <div class="itemfooter">Bar code</div>
    </ion-col>
  </ion-row>
</PlureVersion>